[2022-04-28 09:18] npmmirror opened #2443 "Git.io deprecation notice"
Hello, I've found that some of your files in this repo is still using https://git.io/, and this service will be discontinued in the future. (ref: [Git.io deprecation](https://github.blog/changelog/2022-04-25-git-io-deprecation/))
Theses files are: utils/moduleVisitor.js

[2022-04-28 13:41] SalahAdDin commented on #2405
Well, I have this configuration, and it does not work.

[2022-04-28 17:34] ljharb commented on #2443
As sad and wrong as it is that github would destroy links ([Cool URLs don't change](https://www.w3.org/Provider/Style/URI)), it's a good idea to capture the actual redirect destination here. Thanks!

[2022-04-28 23:40] #2443 closed

[2022-04-29 07:56] sshmyg commented on #2344
Hi
Checked latest version of eslint and import plugin. It works, but very very very slow.
Was using `.ts` file with ~ 300 lines of code. Imports lines ~ 20 lines (not much).
Compared also result with versions of eslint and import plugin which using right now in project.
Results below.

Latest version of eslint and import plugin. ("eslint": "8.14.0", "eslint-plugin-import": "2.26.0")
- time spent o

[2022-04-30 14:11] WtfJoke opened #2445 "import/named - False positive after upgrading from 2.23.4 to 2.24.0+ with @octokit/types"
After upgrading from 2.23.4 to 2.24.0 onwards I experience a false positive with the rule `import/named`.

In this code snippet:
[code]
Following issue:
[code]

The interface however is exported from `@octokit/types` if you take a look at: [https://github.com/octokit/types.ts/src/index.ts#L21](https://github.com/octokit/types.ts/blob/7e5dd312188253e962fa209b16963f78113ba8c3/src/index.ts#L21) and t

[2022-04-30 15:20] ljharb commented on #2445
https://unpkg.com/browse/@octokit/types@6.34.0/package.json points to https://unpkg.com/browse/@octokit/types@6.34.0/dist-node/index.js which indeed does not have that entry point.

If it’s a type, use `import type`, and this plugin will ignore it.

[2022-05-01 06:15] #2265 closed

[2022-05-01 08:05] GerkinDev commented on #2265
Thank you for the merge!

[2022-05-01 10:59] WtfJoke commented on #2445
Thanks for your fast respone.

Not sure how unpkg gets that info. But do you want to say its an issue in the `@oktokit/types` package and I should open an issue there?

Its not a type, its an interface, see https://github.com/octokit/types.ts/blob/master/src/generated/Endpoints.ts#L107

[2022-05-01 14:07] ljharb commented on #2445
unpkg is just showing what’s in the package; that’s the info node gets.

i don’t think it’s an issue in that package. An interface is a type, not a value.

[2022-05-01 14:44] WtfJoke commented on #2445
Thanks a lot! I wasnt aware of that. I use import type now

[2022-05-01 14:44] #2445 closed

[2022-05-01 22:44] SalahAdDin commented on #2405
I was not putting it inside of the `compiler` settings.

[2022-05-02 18:18] ntucker opened #2446 "type: module should have option to require .js when .ts or .tsx is used"
If you have a file with .ts or .tsx it will potentially create a .js file. When package type is 'module' this means .js needs to be used as the extension for relative imports.

[2022-05-02 18:21] ljharb commented on #2446
That's true, but this plugin, via `resolve`, doesn't yet support "exports" or "type module" (which should be avoided regardless). Additionally, extensions are only required in native ESM; CJS files can still follow the best practice of omitting then.

When `resolve` gets this support, then the plugin will need a setting for people to opt in to "native ESM" mode for files, and the "extensions" rule

[2022-05-04 13:32] MartinX3 commented on #2344
I added it, but still the same issue without my workaround.

If I looked correctly vue already added these imports as well in their ecosystem so it isn't needed anyway by the user to add them.

[2022-05-04 13:50] jesusmariajurado commented on #2362
@goldylucks I was having the same problem, but in my case I found the solution updating my angular project to the last version of eslint

[2022-05-05 10:04] lu-zen opened #2448 "Upgrade tsconfig-paths dependency to v4"
Hi.

The version of tsconfig-paths used in this project depends on minimist package, which has a [critical security vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2021-44906) in a older version.

I think updating it to latest major version of tsconfig-paths that depends on a patched version of minimist should resolve the issue.

[2022-05-05 13:08] ljharb commented on #2448
That would require a breaking change, and is already being discussed in #2447.

Additionally, this is an invalid CVE; a Prototype Pollution attack in a CLI arg parsing tool (minimist) is a self-attack and thus, not an attack; additionally, https://unpkg.com/browse/tsconfig-paths@3.14.1/package.json depends on a version of minimist that is not vulnerable, so the CVE in no way requires a v4 upgrade.

[2022-05-05 13:08] #2448 closed

[2022-05-05 16:50] SgtPooki commented on #2170
Very interested in this and may be putting a solution together soon if time permits. would maintainers be open to a PR for addressing this? any particular requirements you would need an acceptable PR to adhere to?

[2022-05-05 18:30] ljharb commented on #2170
@SgtPooki for one, i would want the TS eslint parser to hold any TS-specific logic; but https://github.com/import-js/eslint-plugin-import/issues/2170#issuecomment-931751927 is worth a read.

[2022-05-06 04:08] ljharb commented on #2430
@jacobrask yes, in that case it should Just Work. If it doesn't, and you can run the `node` repl and `require.resolve(specifier)` works, then please file a separate issue.

[2022-05-07 15:12] erikpukinskis commented on #1659
The `--no-error-on-unmatched-pattern` flag was added in `v6.8.0` of ESLint.

https://eslint.org/docs/user-guide/command-line-interface#no-error-on-unmatched-pattern

[2022-05-07 15:19] ljharb commented on #1659
Even better - if we can detect when that flag is passed, then we’d be able to follow it.

[2022-05-08 13:59] kemaakpala commented on #2050
@ljharb is there anyway to get arround this, apart from having to revert my webpack config files.

[2022-05-08 14:01] ljharb commented on #2050
@kemaakpala no. Stick to CJS (or transpiled ESM) for many reasons, including this issue.

[2022-05-08 23:49] justingolden21 opened #2449 "Prefer default export in svelte routes folder"
I have files in `/routes/` that contain a `get` method, for example:

`export async function get({ locals }) {`

However, ESLint tells me `Prefer default export.eslint[import/prefer-default-export](https://github.com/import-js/eslint-plugin-import/blob/v2.25.4/docs/rules/prefer-default-export.md)` and highlights the entire file in red.

[2022-05-09 03:42] ljharb commented on #2449
Then you’ll need to use an override. The advice doesn’t change even if a particular framework encourages something different.

[2022-05-09 03:42] #2449 closed

[2022-05-09 11:31] golergka opened #2450 "import/no-restricted-paths: Allow `import type` imports"
It would be very useful for `no-restricted-paths` rule to have an option to allow `import types` for a zone, as these imports are erased at compile time anyway.

[2022-05-10 06:40] linguofeng commented on #1810
Any updates?

[2022-05-10 20:05] tlmader commented on #1678
@narthollis did you ever find a solution to this? Looking to do keep all my external dependencies on the root `package.json`, while adding internal packages as explicit dependencies, so that Nx can properly build its graph.

[2022-05-11 10:26] Airkro commented on #2407
`import/order` fixer also beaks other processors. like <https://github.com/nice-move/eslint-plugin-html#not-compatible-with-importfirst-rule>

I believe it is the same problem. [reproduce sandbox](https://codesandbox.io/s/eslint-import-first-bug-mwdo7w?file=/index.html).

[2022-05-11 12:59] JannikZed commented on #2252
we are facing the same issue - using eslint-plugin-import@2.24.2 and eslint 8.15.0 .. could somebody explain this issue to us better and re-open this issue?

[2022-05-11 14:05] ljharb commented on #2252
@JannikZed the issue is you’re using an outdated version of the plugin. Update it to the latest. There’s nothing left to fix, and no need to reopen.

[2022-05-12 11:37] volochiy-s commented on #1414
I would disagree. When the codebase grows, engineers may want to adopt code modularisation approaches. In such a codebase, as an author of the module, I want to define how you should use it and what you can and cannot import. De-facto, it's about being able to declare an interface for the module without TypeScript (cause sometimes you can't use it). And I don't see any downsides in using index.js

[2022-05-14 02:55] unleashit opened #2451 "import/no-relative-packages fix breaks in monorepo"
After updating my eslint config and running it on a yarn workspaces monorepo, I found that a new rule was added: `import/no-relative-packages`. I like the rule as it prevents someone from relatively importing something from another package.

But in my case, I have some test utils in a folder at the root of the monorepo which is just a folder and not a namespaced package. I'm currently importing th

[2022-05-14 23:58] shiba-sama commented on #2442
Just wondering — is there a more general reason to avoid ESM, or is your prescription only for this specific case?

[2022-05-15 01:55] ljharb commented on #2442
It is a general recommendation. Authoring in ESM is great, but there’s virtually no upsides and lots of downsides to shipping native ESM in the most important ecosystems.

[2022-05-15 12:08] eng-dibo opened #2452 "[question] does it support require() and webpack aliases?"
this plugin validate `import` syntax,
does it also linting `require()` and `webpack aliases` syntax as [require-path-exists plugin](https://www.npmjs.com/package/eslint-plugin-require-path-exists) does?

[2022-05-15 16:27] ljharb commented on #2452
Yes.

[2022-05-15 16:27] #2452 closed

[2022-05-15 16:38] eng-dibo commented on #2452
nice, please update your docs

[2022-05-15 16:44] ljharb commented on #2452
Which docs need updating? https://github.com/import-js/eslint-plugin-import#resolvers discusses webpack aliases, and https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-unresolved.md#importno-unresolved discusses the `commonjs` option.

Perhaps, please read the docs?

[2022-05-15 21:46] arpowers opened #2453 "import/no-extraneous-dependencies - whitelist and self reference use cases (PNPM)"
Hey there guys,

Just ran into a dead end with the `import/no-extraneous-dependencies` rule. Specifically, we are using PNPM and mono-repos.
In this setup, we use the rule to help us ensure that all dependencies are available for distributed packages (like API client)...

However, for other work flows it doesn't make sense to not worry about if a package is listed in dependencies. For example, w t

[2022-05-15 21:48] ljharb commented on #2453
Why can it introduce other problems?

Explicitly listing dev deps is just as important as doing so for runtime deps - there's no scenario where a dependency shouldn't be listed in package.json.

[2022-05-16 15:47] arpowers commented on #2453
By introducing circular workspace dependencies (pnpm), by creating package orchestration issues w multiple packages being generated due to other dependencies (pnpm), forcing relative paths to be used for self reference (which is fine in minoremos and using telepaths is more brittle)

For now, I've just disabled this plugin for tests; but it could cover more use cases and be more useful w the above

[2022-05-16 18:09] ljharb commented on #2453
Circular dependencies are a very bad practice, so I'm not inclined to add complexity to this plugin to support that use case.

Are these issues solely when using pnpm? or do they also occur with npm.

[2022-05-16 18:39] arpowers commented on #2453
They aren't circular dependencies, they are circular workspace dependencies. For example, module A may require module B and module B may require A in some test. PNPM doesn't like this, but if we keep the dependency (e.g. Jest/Vitest) in the root of monorepo only, then its no issue.

There are many practices in testing and tooling where it makes sense to not worry about certain things. It just adds

[2022-05-17 08:19] debjyoti-pandit commented on #1239
@nickvirdenlegalshield  getting the same issue.
Did you guys have the solution to why it is importing before the nearest sibling?

[2022-05-17 08:24] debjyoti-pandit opened #2454 "want all scss imports at the end of import list"
Was following this issue #https://github.com/import-js/eslint-plugin-import/issues/1239

And as mentioned in the last comment

![image](https://user-images.githubusercontent.com/22158580/168765321-79b704c8-7b8b-44e6-9b98-d3cb60457a12.png)

The scss file is getting imported before the nearest sibling and not at the end of the import list as expected.

[2022-05-17 15:41] tpict opened #2455 "RFC: Respect TypeScript baseUrl in no-useless-path-segments"
This is something that's been bugging me in a project I'm working on. Given some directory structure
[code]

and a `baseUrl` of `my-project`, It's common to see imports from e.g. `my-project/pages/about/index.ts` that look like

[code]

which could instead by written as

[code]

with the advantage that the file can be relocated without breaking imports (and it saves a few characters).

- Is this a

[2022-05-17 18:15] T-Damer opened #2456 "Add opposite to `no-anonymous-default-export` rule that will force an error if you name default export"
Naming `export default function do() {...}` in `do.ts` is not necessary for my team, so maybe we can have a rule, that will throw an error if you're trying to name the default export? I know that this might not be a good practice, but if I'll combine this rule with [matching filename import](https://github.com/selaux/eslint-plugin-filenames#matching-exported-values-match-exported), then nobody wil

[2022-05-17 23:11] ljharb commented on #2456
Why would you want to avoid it? Functions should always be explicitly named, for debugging and greppability.

[2022-05-17 23:12] ljharb commented on #2455
It's possible if you use an import resolver that handles the aliases, yes.

[2022-05-18 05:15] mirkonz opened #2457 "Enforce no newline after import"
Hi there,
I would like to enforce **NO** new lines after imports (as this breaks when using mdx syntax).

[code]

returns
[code]

[2022-05-18 07:06] T-Damer commented on #2456
@ljharb, the file name in my team usually represents the default export name, we're not planning to grep through our repos + debugging is fine, you can see the file, where the error occurred = you know the function, where the error occurred

[2022-05-18 15:53] ljharb commented on #2457
What is mdx syntax?

[2022-05-18 18:18] IanVS commented on #2377
I just had a bug where https://www.npmjs.com/package/url was being used rather than the node builtin `url`.  Changing to `node:url` fixed that bug.  So, I don't think it has zero value.  I was coming here to look for a rule that enforced its use, but it sounds like you'd be against that, so I'll look elsewhere.

[2022-05-18 18:38] ljharb commented on #2377
@IanVS that doesn't make sense; in any node version where `url` is built in, it can't possibly use the installed one.

[2022-05-18 18:43] IanVS commented on #2377
My guess is that it was due to vite choosing to use the dependency during bundling.  I didn't look too deeply.  Maybe it's a bundler error, but it was easily worked around by being explicit in my import statement.

[2022-05-18 18:45] ljharb commented on #2377
Yes, that does indeed seem like a bundler issue.

[2022-05-18 19:16] T-Damer commented on #2456
Okay, thanks then :)

[2022-05-18 19:18] backmeupplz commented on #2456
Sorry, made me laugh out loud :')

[2022-05-18 19:42] ljharb commented on #2456
There's lots of cases where repetition helps; in test cases, for example.

[2022-05-19 05:08] ntnyq opened #2458 "import/newline-after-import: allow disable newline after required in block"
Expected:

[code]

An option like `topLevelOnly` or `disabledInBlockScope` would be nice.

[2022-05-19 14:00] backmeupplz commented on #2456
No, there isn't. It's just an exuse to justify WET code. Test cases should also always be DRY.

[2022-05-19 16:29] ljharb commented on #2456
@backmeupplz that's not my experience. if you DRY things up too much, you die of thirst.

[2022-05-19 17:26] ljharb commented on #2456
@backmeupplz yes, anyone might be wrong at any time. In this case, I'm not wrong.

[2022-05-19 18:01] ljharb commented on #1414
@volochiy-s you can do that already with packages and the "exports" field. If it's *reachable*, then engineers will create a dependency on it.

[2022-05-19 18:08] ljharb commented on #2454
Can you share the code that's not working properly?

[2022-05-23 10:17] debjyoti-pandit commented on #2454
[eslint config](https://github.com/debjyoti-pandit/dfr-console/blob/559437907f31b597fbca739e2b2c9f886247ca4a/.eslintrc.js#L52) where I have added the config.

[source code](https://github.com/debjyoti-pandit/dfr-console/blob/559437907f31b597fbca739e2b2c9f886247ca4a/packages/components/noobaa-provider-endpoints/s3-endpoint-type.tsx#L19) where I want to make a change.

NOTE: current implementation i

[2022-05-25 08:02] slice-anuj opened #2460 "[import/no-duplicates]: issue while using --fix"
### Environment

Node version: v16.13.2
npm version: 8.1.2
Local ESLint version:  8.15.0
Global ESLint version: 8.15.0
Operating System: macOS

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>
if two import is similar then, its merge them both which create a new issue which not identified by eslint.

`
import {a} from "./foo";
import {a} from "./

[2022-05-25 15:04] ljharb commented on #2460
What version of this plugin are you using?

[2022-05-25 17:29] slice-anuj commented on #2460
using  "eslint-plugin-import": "^2.26.0".

[2022-05-25 17:32] ljharb commented on #2460
Looks like this is a duplicate of #2437.

[2022-05-25 17:32] #2460 closed

[2022-05-25 21:16] Slapbox commented on #2102
Unfortunately it seems neither of these cases are actually resolved as of `2.26.0`. I don't know what led me to believe they were. Perhaps I failed to re-enable the rule properly.

@ljharb any thoughts about possible causes and solutions?

[2022-05-25 21:34] Slapbox commented on #2102
Our `settings` key in `.eslintrc.js` looks like this - I wonder if it's possibly related to resolution issues? But it seems to work fine in other capacities, so I'm doubtful.

[code]

[2022-05-27 08:24] maikelvl commented on #2405
In case you have a custom path tsconfig, you might want to add it to `typescript.project` as found in https://github.com/import-js/eslint-plugin-import/issues/2301#issuecomment-974473228

[code]

[2022-05-29 23:52] saiichihashimoto commented on #2400
@ljharb

[2022-05-30 00:25] mirkonz commented on #2457
It is extended markdown. It is used by Storybook for example.

https://storybook.js.org/docs/react/api/mdx
https://mdxjs.com/

[2022-05-30 01:38] ljharb commented on #2400
I added the “help wanted” label, so yes, that’s the situation.

[2022-05-30 06:22] #2237 closed

[2022-05-30 16:01] BenoitZugmeyer opened #2461 "`import/no-cycle` does not detect cycles when using named exports with a source"
## Overview

I am facing an issue where the `no-cycle` rule fails to detect cycles when using named exports with a source (ex: `export { bar } from "./bar.js"`). The issue does not occur when using "export all" (ex: `export * from "./bar.js"`).

## How to reproduce

[code]

### Actual result

The dependency cycle is not detected

### Expected result

The dependency cycle is detected. For example,

[2022-05-31 05:42] ilyub opened #2462 "import/no-cycle does not work for typescript files"
I used the first sample from here:
https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-cycle.md
but changed extension for files from .js to .ts.

My eslint configuration:
[code]

For .ts files the rule does not work.
But when I change extension back to .js it works again.

NOTE:
I made sure that .ts files are actually checked by eslint by adding code that triggers core eslint

[2022-05-31 23:04] challme28 opened #2463 "Error while parsing `node_modules/react-native/index.js`"
I decided to add this plugin for sorting my imports and found an error while configuring my `.eslintrc.js`

[code]

[code]

There is something going on with `plugin:import/recommended` that causes this error. I tried multiple solutions following `eslintrc` examples and many other similar errors w/o success.

Here is my `.eslintrc.js`

[code]

If there is a need for any other config file I'm happy

[2022-06-01 04:59] ljharb commented on #2463
You need to be using the TS import resolver as well.

[2022-06-01 12:14] MatanGbr opened #2465 "Help/Suggestion: No Export in a Shebang file"
I feel like this rule would help a lot of new node users that love making CLI & bin application with it (like me😊).

I found out that exporting a function from a file that has a shebang declaration the top of it (like #! /usr/bin/env node) gives a lot of trouble in execution.

The rule to catch export statement would probably look like that:

[code]

But how can I add a condition to test if a sheb

[2022-06-01 13:22] challme28 commented on #2463
[code]

Like this?
I still have the same error

[2022-06-01 14:14] ljharb commented on #2463
You also have to install the TS resolver package. I don’t have its name off hand.

[2022-06-01 14:26] ljharb commented on #2465
A shebang goes only in an entry point - why would you even attempt to export anything from an entry point?

[2022-06-01 16:04] #2463 closed, assigned to nobody

[2022-06-02 03:28] JacobLey opened #2467 "no-relative-parent-imports reports internal packages as parent"
I recently started working on a rush monorepo, that basically has the setup:

[code]

I have eslint settings configured as:

[code]

The rule `import/no-relative-parent-imports` wrongly reports that `import { abc } from '@my-package/lib'` with error `Relative imports from parent directories are not allowed. Please either pass what you're importing through at runtime (dependency injection), move `i

[2022-06-02 05:42] ljharb commented on #2467
While a monorepo blindly hoisting things to the top level is always going to be problematic, I agree that anything that's inside a parent's `node_modules` directory should not be warned on by this rule.

That a module is marked "internal" or "builtin" doesn't seem relevant.

[2022-06-02 12:22] SimonMueller opened #2468 "import/no-cycle not triggered when using paths relative to the project root"
When using imports like "src/services/module.a" in a typescript project with an import resolver instead of "../module.a" cycles are not detected by the rule "import/no-cycle". The imports are correctly resolved and only the error from the cycle is missing in the eslint output.

When using relative imports like "../module.a" the cycle is correctly detected.
The same behaviour is observed when using

[2022-06-04 18:19] bradzacher opened #2469 "New rule: consistent inline type specifier usage"
In both flow and TS you can mark an import as a type (or typeof for flow) via a specifier.
Both languages support two forms:

top-level, which marks all names in the import as type-only:
[code]

inline, which marks just one name in the import as type-only:
[code]

Users care about consistency when it comes to the use of inline type imports - they either want them, or they don't.
I would like to pr

[2022-06-04 19:50] snewcomer opened #2470 "addition to rule: import/no-duplicates"
The proposal here is to improve this rule and handle inline type modifiers

[code]

Fixer
[code]

ref https://github.com/import-js/eslint-plugin-import/issues/2469 and https://github.com/typescript-eslint/typescript-eslint/pull/5050#discussion_r889606802

[2022-06-05 06:25] iamsharzil opened #2471 "Newlines between custom path groups"
I want to define custom path groups such that there should be a new line between them.

eg. I've React, NextJs, MUI, and local folders (components, features, etc). I want to specify the rules such that React package will be on top, and NextJs and its related packages will be grouped into one, similarly, MUI and emotion packages, Redux, Redux persist, and Redux-toolkit.

**What I want**:
[code]

**

[2022-06-05 21:34] ljharb commented on #2469
This sounds great, especially since it'd be autofixable.

[2022-06-05 21:38] ljharb commented on #2470
I absolutely agree this should be autofixable by no-duplicates.

[2022-06-06 18:20] nerdjfpb commented on #2470
I'm new to the codebase, but can I take this issue?

[2022-06-08 02:21] snewcomer commented on #2470
@nerdjfpb Happy if you did!  If you don't happen to get to it by this weekend, I'll plan on jumping in.

[2022-06-08 05:17] jakobo commented on #2170
I was able to get to a decent solution with [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/file-extension-in-import.md) in combination with this plugin. The `import/extensiosn` rule mandates an extension and bans `ts` and `tsx` as valid extensions. The `node/file-extensions-in-import` requires all relative imports include a file extension.

The downsid

[2022-06-08 21:49] nerdjfpb commented on #2470
Some personal issue came up and I don't think I can jump on this in next 1/2 week. I think you can start working on this @snewcomer

[2022-06-10 11:21] ops1ops opened #2474 ""import/order" internal does not work with tsconfig "baseUrl""
HI, trying to configure import order for internal modules, but eslint does not recognize my internal modules

Current config:
![image](https://user-images.githubusercontent.com/49243022/173054179-1679cad9-b588-40d4-9468-4f871b3813dd.png)

Ts config:
![image](https://user-images.githubusercontent.com/49243022/173054330-3015766e-b43c-496d-b360-61d0691e170e.png)

Am i missing something in configurati

[2022-06-10 15:51] ops1ops commented on #2474
Was missing "eslint-import-resolver-typescript". After installation it works

[2022-06-10 15:51] #2474 closed

[2022-06-10 16:19] ops1ops opened #2476 "Several ideas to implement"
Hello, i want files ending with ./css to be LAST in sibling group, so to my mind there are 2 potential features:
1. In pathGroups you need to add property disabling newlines-between for this pathGroups
2. Add order property or something like this "order": ["begin" | "end"]

Please implement one of these features. Or if there are workaround for my situation, share please.

By the way adding "name"

[2022-06-10 18:59] xenoterracide commented on #2384
because, the first is an external library that should not be used like that, and the latter is a lot of code that I want warnings for while we fix instead of 300 changes...

[code]

[2022-06-10 20:39] ljharb commented on #2384
@IAmNatch it's a common use case, but it's still always a bad idea.

[2022-06-10 21:10] xenoterracide commented on #2384
perhaps a better solution, at least in my case would be to have an `[import/no-internal-from-external-modules]` rule... which could potentially use the rule that defines what's internal

[2022-06-10 21:11] xenoterracide commented on #2384
bad, no argument, but progressive migration ftw.

[2022-06-13 03:50] azhaochen commented on #1590
export { foo } should put in the first line, or it will report error 'An export declaration can only be used at the top level of a namespace or module.ts(1233)'

[2022-06-15 09:39] tyuqing commented on #2335
me too

[2022-06-15 10:27] riteshjagga commented on #1852
What if I DO NOT want to add line break for the single line export statements:

[code]

Tried and it can be achieve using 2 rules for export
[code]

but the above rule also report "Unexpected blank line before this statement" where I want to have line break for multiline export

[code]

Trying how to report
 - Unexpected line break for single line export statements
 - Missing line break for multi

[2022-06-15 20:31] jordanbtucker opened #2477 "Unable to resolve path to module 'socket.io-client'"
I'm using `eslint-import-resolver-webpack` and getting this error, even though webpack has no trouble resolving `socket.io-client`.

[code]

Running with the DEBUG env, I see the following error displayed:

[code]

The `exports` field of `socket.io-client/package.json` looks like this:

[code]

For a minimal reproducible example, see https://github.com/jordanbtucker/import-webpack-issue

[2022-06-16 02:12] ljharb commented on #2477
Your import/resolver settings need to not JUST contain webpack. Set it to:
[code]

[2022-06-16 22:21] Mikilll94 opened #2478 "import/no-duplicates reports incorrectly for date-fns and date-fns/locales"
[code]

This code triggers `import/no-duplicates` error although `date-fns` and `date-fns/locale` are different modules so these imports cannot be combined.

[2022-06-17 15:14] jordanbtucker commented on #2477
Thanks! I used this configuration instead, and it's working now.

[code]

[2022-06-17 15:14] #2477 closed

[2022-06-17 23:44] lnasc256 commented on #2365
there are some packages in [npm](https://www.npmjs.com) which end with `.js` ([@ascua/aos.js](https://www.npmjs.com/package/@ascua/aos.js) for example)
that's the reason why it worked when importing
`import TagsMenu from '@components/TagsMenu/index'`
but not when importing
`import StatusSelect from '@components/StatusSelect'`
(in the latter import, the plugin is considering `@components/StatusSele

[2022-06-18 09:46] piranna opened #2480 "add support for Node.js ESM resolution"
Similar to https://github.com/weiran-zsd/eslint-plugin-node/pull/4, add support on `import/no-unresolved` rule for packages using `exports` field instead of `main`. At this moment, https://github.com/import-js/eslint-plugin-import/blob/main/resolvers/node/index.js only supports `main` and (non standard) `module` fields.

[2022-06-18 09:58] piranna commented on #1810
@bertho-zero it looks similar to https://gist.github.com/danielweck/cd63af8e9a8b3492abacc312af9f28fd, can you create a `npm` package from it?

[2022-06-18 13:38] ljharb commented on #2480
This will be done automatically once the resolve package supports exports. It won’t be done until then.

[2022-06-18 13:38] #2480 closed

[2022-06-18 23:11] piranna commented on #2480
At `jest` it was needed to be added explicitly on Jest v28 after one year and a half waiting it to be added to `resolve` package, seems it's abandoned...

[2022-06-19 15:15] ljharb commented on #2480
@piranna it's not abandoned (i'm the maintainer), and yes, i'm aware jest decided not to wait. However, once `resolve` supports it, jest will likely switch back to using it.

[2022-06-22 16:22] ukstv commented on #2446
I made a crack to solve the issue in https://github.com/import-js/eslint-plugin-import/pull/2483

[2022-06-23 02:34] AliLozano commented on #1739
Another example: This library uses the query in imports for dynamically import different things.: https://github.com/jpkleemans/vite-svg-loader

[code]

[2022-06-23 16:16] Lonli-Lokli opened #2484 "[Feature Request] Add rule ban-folder"
With Nx.dev it's common to have this structure within **Typescript** monorepository
-apps
---app1
---app2
-libs
---lib1
----feature1
----feature2

It's common to have imports from feature1 into feature2, but sometimes due to missing export from feature1 index.ts we have this import inside feature2

import {smth} from 'libs/lib1/feature1'

So it's incorrect

Proposal - add ban-import rule which can

[2022-06-23 16:32] ljharb commented on #2484
What's incorrect exactly?

[2022-06-23 16:36] Lonli-Lokli commented on #2484
With typescript such imports usually means an error - when something is not exposed as public api but still available via direct paths.

`library1-feature.ts`
export const myLocalFeatureFunction() {}

But this myLocalFeatureFunction is used inside library1 only and not exposed to public. VSCode still identifies such functions and allow theier imports

[2022-06-23 16:43] ljharb commented on #2484
If it's an error in TS then why would you need the linter to catch it?

[2022-06-23 16:47] ljharb commented on #2484
Sounds like you might want https://github.com/import-js/eslint-plugin-import/blob/HEAD/docs/rules/no-internal-modules.md or https://github.com/import-js/eslint-plugin-import/blob/HEAD/docs/rules/no-restricted-paths.md or https://github.com/import-js/eslint-plugin-import/blob/HEAD/docs/rules/no-relative-parent-imports.md ?

[2022-06-23 16:59] Lonli-Lokli commented on #2484
The only which might work is [no-internal-modules](https://github.com/import-js/eslint-plugin-import/blob/HEAD/docs/rules/no-internal-modules.md) but it does not report an error with my typescript project
[code]

[2022-06-27 04:11] ljharb commented on #2484
Try `libs/**/*`?

[2022-06-27 08:35] ChrisIT9 commented on #2252
Issue still present with 2.26.0

[2022-06-30 20:23] ljharb commented on #2205
Sorry for the delay.

@DamienCassou when i apply this patch to your project:
[code]

I get these results:
[code]

Is that what you're looking for?

[2022-07-01 07:19] DamienCassou commented on #2205
no. There should be no errors with foo-tests.js and tests.js: it is actually quite fine that these files don't export anything.

The only problem is in bar-tests.js which is never imported.

By the way I'm very sorry for the broken indentation in the eslint configuration file in this project. I've just fixed it.

[2022-07-01 11:12] SQReder commented on #2478
Bump for this

[2022-07-01 20:35] ilyub opened #2486 "[import/no-extraneous-dependencies] - Feature request: More options to whitelist dependencies"
Motivation:

I am having quasar project.
I know for sure that quasar already adds "@vue/test-utils" dependency.
So, I don't want to include "@vue/test-utils" explicitly, because it may install wrong "@vue/test-utils" version.
Also, I don't want to use "@vue/test-utils": "*" because it creates problems in combination with "overrides" section in package.json.

Ideally, I would prefer to configure "i

[2022-07-01 21:11] ljharb commented on #2486
If you don't install it explicitly, then quasar (i have no idea what that is) might install the wrong version.

If it's something you require/import, you MUST explicitly depend on it. If quasar wants to ensure this, it should have a peer dep on `@vue/test-utils`, which would force you to explicitly specify it.

[2022-07-03 20:42] brunomacf opened #2487 "Not working with vscode-eslint and yarn 3"
I'm not sure if this is an issue with eslint-plugin-import or vscode-eslint itself but i created this repo https://github.com/brunomacf/vscode-eslint-yarn-berry reproducing the issue. If i open `src/index.ts` in vscode i don't see any lint errors (i do see the correct errors when i totally remove the eslint-plugin-import settings from `.eslintrc.js` config file). But if i run lint manually through

[2022-07-03 20:47] ljharb commented on #2487
If it works on the command line, then the editor is the thing that's broken.

In general, PnP breaks a ton of things, including the way modules are resolved, so it's highly likely that vscode isn't pulling in the PnP.js hacks that attempt to fix them. I'll close in favor of the vscode-eslint issue.

[2022-07-03 20:47] #2487 closed

[2022-07-04 13:43] Lonli-Lokli commented on #2484
@ljharb thanks, it works.
Mb you can also help how to forbid paths starting from this string `../../../` ? I've tried  `"forbid": ["libs/**/*", "../../../**/*"]` but it didnt work

[2022-07-04 13:43] #2484 closed

[2022-07-04 21:37] jmcombs opened #2488 "[import/extensions] Getting ESLint warning for `import/extensions`"
I am triggering the [eslint(import/extensions)](https://github.com/import-js/eslint-plugin-import/blob/v2.26.0/docs/rules/extensions.md) when I am trying to import service `import { WebexService } from '../services/webex.js';`. I am using NodeJS, ES6, ESLint, Airbnb Style and Prettier.

I store my ESLint configuration in `package.json`. I have tried the following settings to get the error to go aw

[2022-07-04 21:48] ljharb commented on #2488
`import/extensions` is a rule, you don't configure it in settings, you configure it in "rules".

[2022-07-04 23:39] jmcombs commented on #2488
Thank you, @ljharb. That resolved my problem. I honestly have spent my entire day reading both the [Main Docs](https://github.com/import-js/eslint-plugin-import/tree/v2.26.0#eslint-plugin-import) and [import/extensions - Ensure consistent use of file extension within the import path](https://github.com/import-js/eslint-plugin-import/blob/v2.26.0/docs/rules/extensions.md) and did not extrapolate th

[2022-07-05 05:12] ljharb commented on #2488
Sure, given that there's both a rule and a setting called "import/extensions", that seems useful to clarify.

Yes, in a rule, the first option must always be a severity - either off/warn/error, or 0/1/2.

[2022-07-05 05:12] #2488 closed

[2022-07-05 05:56] ljharb commented on #2484
That's not what `no-internal-modules` is for; for that you'd need a different rule, likely `no-restricted-paths`.

[2022-07-05 08:41] HasanTheSyrian opened #2489 "ESLint returns "import/no-extraneous-dependencies" with Electron"
ESLint gives this error when Electron is under dependencies instead of devDependencies which is inaccurate.

![image](https://user-images.githubusercontent.com/69906596/177287402-a3a5c524-ad77-4714-a236-9aafa1aa32e6.png)

[2022-07-05 16:54] ljharb commented on #2489
By default, everything is assumed to only be allowed to import runtime deps. You need to configure which files are allowed to reference dev deps.

[2022-07-05 16:54] #2489 closed

[2022-07-05 16:56] Lonli-Lokli commented on #2384
My workflow is to not allow imports too far from current file, eg import { smth} from '../../../ui/src/package';

Usually it means that you are trying to import file which is outside of boundaries in your project.
Usually it happens due to VSCode/WebStorm  imports.

Unfortunately, the following code does not work
[code]

[2022-07-05 20:56] Lonli-Lokli commented on #2484
Thanks, I solved it with another rule
[code]

[2022-07-05 20:57] Lonli-Lokli commented on #2384
Finally I solved my issue with another rule

[code]

[2022-07-06 01:11] ThomasAitken commented on #2471
Seconding this. Saying it a different way, assuming that "newlines-between" = "always", we need to be able to specify whether a custom pattern creates a newline or not. We may want it for some patterns but not all!

[2022-07-11 03:32] ScriptedAlchemy opened #2492 "Add support for Module Federation Plugin"
I see you support externals. It would be great if this also supported Module Federation where remotes are listed. Any of those keys should not throw unresolved lint errors since it would behave similar to an external import

[2022-07-11 05:23] ljharb commented on #2492
Import resolvers are a plugin system; you can write one yourself for this and use it just fine.

Remote imports aren't a standard part of node nor a good idea in general, so it's not something the plugin will likely ever support by default.

[2022-07-11 05:23] #2492 closed

[2022-07-11 08:08] ScriptedAlchemy commented on #2492
Wouldn’t go as far to say it’s not a good idea.
but should be used probbbely and by knowing what’s going to happen. I’ll take a look and see if I can write a plugin for this package 📦

[2022-07-11 13:21] tyteen4a03 commented on #1378
Bump - would be very useful :)

[2022-07-11 20:32] gajus opened #2493 "New rule: no-wildcard-export"
## Examples

### ✅ Valid with `no-wildcard-export`

[code]

### ❌ Invalid with `no-wildcard-export`

[code]

## Why?

`export *` breaks static analysis of tools like [unimported](https://www.npmjs.com/package/unimported), effectively making it impossible to determine if there is unused code in the codebase.

[2022-07-11 20:39] ljharb commented on #2493
I'm not familiar with that tool, but I'm not sure why it would break static analysis - you'd just bounce over to the other file and see what _that_ exports.

[2022-07-11 20:45] gajus commented on #2493
It is possible that it is a limitation of the tool. Nonetheless, it is caused by `export *`.

Don't want to muddy the waters, but I would also argue that `export *` hurts legibility of the codebase by obscuring the origin of exports. Whenever I clickthrough in VSCode to an `index.ts` file that only contains `export *` statements, it is near impossible to find where the declaration is coming from.

[2022-07-11 21:10] ljharb commented on #2493
I think if a compelling enough case can be presented, then yes - but i suspect such a case would also discourage any re-exporting, whether with `export *`, `export { x } from '…', or `import x, { y } from '…'; export default y; export { x }` etc.

[2022-07-12 20:00] #1369 closed

[2022-07-14 06:07] Pearce-Ropion opened #2494 "`import/order` does not respect consecutive `pathGroups` when 9 or 10 groups are defined"
Import types can be assigned the same `rank` when using 1 or more `after` `patterns` and 9-10 `before` `patterns` on consecutive import types.

[Repro](https://github.com/Pearce-Ropion/eslint-plugin-import-order-error)

Given the following config
[code]

The above config will result in the following file. With the 9 `before` `patterns`, `a` gets grouped with the `@namespace` imports. This **doesn'

[2022-07-14 08:22] aladdin-add opened #2495 "rule import/no-unresolved support `exports` field in package.json"
[code]

the package `@dian/dn` has an exports like:
[code]

it's working as expected, but eslint is reporting an error:
[code]

[2022-07-14 16:31] ljharb commented on #2495
This plugin uses `resolve`, which does not yet support `exports`.

It's a best practice, for backwards compatibility, to have your exports LHS map to a RHS that pre-exports node would be able to resolve - doing so would make things Just Work with this plugin in the meantime.

[2022-07-14 16:31] ljharb commented on #2495
Possible duplicate of #2132.

[2022-07-15 09:26] toerndev opened #2496 ""no-cycle" affecting type resolution between monorepo packages"
**Problem**: I get additional errors from `@typescript-eslint/require-await` and `@typescript-eslint/restrict-plus-operands` after activating `import/no-cycle`.

Out of these "extra" errors, some seem legit:

- `a.b + c // a can actually be undefined here so "restrict-plus-operands" makes sense`

...while in other cases, TS normally infers the `number` type but now suddenly requires more explicit/

[2022-07-15 17:53] ljharb commented on #2496
Setting aside that "require-await" is a harmful rule that should never be enabled, I can't conceive of why one rule being enabled would possibly impact a different one - especially in another plugin. eslint actively prevents rules from affecting each other.

Which version of the TS eslint resolver are you using?

[2022-07-16 09:30] toerndev commented on #2496
Right, those rules don't seem that great, I'll probably remove both.
But they revealed that there are unknown & unexplained interactions in my linting which is pretty uncomfortable. :-)

Sorry forgot to include:
typescript: 4.7.4
eslint: 8.19.0
eslint-plugin-import: 2.26.0
eslint-import-typescript-resolver: 3.2.5
@typescript-eslint/{parser,eslint-plugin}: 5.30.5

The reason that I added the TS res

[2022-07-16 17:51] ljharb commented on #2496
Right, that all makes sense.

cc @bradzacher - any hints as to why one rule would impact another?

[2022-07-16 17:59] bradzacher commented on #2496
I'd need a concrete reproduction case. @toerndev can you create an *isolated* GH repo with the minimal setup required to repro this issue?

[2022-07-16 18:05] bradzacher commented on #2496
@ljharb separate and unrelated to the issue, just as an FYI.
the ts-eslint version is smarter than the base rule as it allows returning promises (it's type-aware). It's poorly named because it builds on top of the base rule.

[2022-07-16 18:06] ljharb commented on #2496
@bradzacher that's helpful, but it's perfectly find to have an async function that does not return a promise and does not use `await`, and it's massively harmful to even imply otherwise. The rule should never have existed in eslint (i totally understand why it therefore exists in TS-eslint, ofc)

[2022-07-17 09:07] acidoxee opened #2497 "Suggesting an `exceptTarget` param for `import/no-restricted-paths`"
Hi there 👋

I'm having a bit of trouble with the `import/no-restricted-paths` rule for a fine tuned setup. Given the following file structure, I'd like to suggest using [subpath imports](https://nodejs.org/api/packages.html#subpath-imports) (with an ESLint warning) for the `src/foo` folder and subfolders when importing them from outside those places (from `src/bar` for instance), but _not_ when im

[2022-07-17 20:57] ljharb commented on #2497
Since this plugin doesn't yet support "exports", let alone "imports", I don't think it makes sense to add features in their service yet.

Have you tried using overrides? In other words, rather than one rule config entry for the entire project, make one as a default, and then use overrides to add another just for the files you want to target (which i believe supports glob negations)

[2022-07-17 22:54] AndreiSoroka commented on #2451
P.s. for nodejs (without webpack) that rule broke application

[2022-07-18 07:57] acidoxee commented on #2497
Sorry if I wasn't clear, I'm not suggesting that this plugin should natively support `exports` or `imports` fields in `package.json` files, I'd just want an `exceptTarget` parameter to see the light of day. Frontend aliases for instance (with Webpack/other bundlers/resolved at build time) would also benefit the exact same setup, yet they leverage other mechanisms than subpath imports to work. My u

[2022-07-18 17:50] ljharb commented on #2430
Self-referencing only works in node via the "exports" or "imports" fields, which this package (via `resolve`) does not yet support - but will hopefully, soon.

It should *not* be expected to work otherwise.

[2022-07-18 17:56] rhangai commented on #2430
In my case, since it is a custom rollup project, it works as expected, but I get your point, deleting my comments to prevent bad practices/habits. :+1:

[2022-07-19 07:11] cyco130 commented on #1810
I just published a resolver package that solves this issue using [resolve.exports](https://github.com/lukeed/resolve.exports): https://www.npmjs.com/package/eslint-import-resolver-exports

It's currently beta but seems to work for most of my projects. Feedback appreciated.

[2022-07-19 09:18] DamienCassou commented on #1810
do you have examples that we could look at? I don't understand how to configure the resolver to get the same behavior as the one from the webpack resolver.

[2022-07-19 09:23] cyco130 commented on #1810
Currently what's in the readme is all I have. I think it's best to use this _in addition to_ other resolvers, as a fallback as it only supports `main`, `module`, `exports` and nothing else. The readme shows how to use it with TypeScript resolver for example. You should probably keep using Webpack's resolver too.

Check the [`resolve.exports` docs](https://github.com/lukeed/resolve.exports) for con

[2022-07-19 10:53] Pronoy999 opened #2499 "Update "tsconfig-path" to 4.x"
Please update "tsconfig-path" to 4.x version to remove vulnerability issue.

[2022-07-19 13:41] ljharb commented on #2499
It’s not a vulnerability; it’s a false positive.

Duplicate of #2447.

[2022-07-19 13:41] #2499 closed

[2022-07-19 16:19] JounQin opened #2500 "Do not ignore `type` `import/export` in favor of `eslint-import-resolver-typescript`"
`type` `import/export` are always ignored now

[code]

This is bad, `eslint-import-resolver-typescript` resolves `.d.ts`/`.ts` correctly, but they are ignored.

[2022-07-19 16:34] JounQin commented on #1536
Did you try https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 16:35] JounQin commented on #2236
You should use https://github.com/import-js/eslint-import-resolver-typescript instead

[2022-07-19 16:37] JounQin commented on #2500
Seems duplicate with #1675

[2022-07-19 16:42] JounQin opened #2501 "Collaborate on `TypeScript` related things on this repository?"
Hi, @ljharb

I'm now the maintainer of https://github.com/import-js/eslint-import-resolver-typescript, we just moved it to `import-js` org recently. And there are a lot of `TypeScript` only related [issues](https://github.com/import-js/eslint-plugin-import/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Atypescript) in this repository, maybe I can help to collaborate, how do you think?

[2022-07-19 16:55] ljharb commented on #2501
That'd be great! PRs are most welcome :-)

[2022-07-19 16:59] ljharb commented on #2500
`tsc` should be catching this - does it not?

[2022-07-19 17:00] JounQin commented on #2501
@ljharb

Some issues can be closed directly in favor of `eslint-import-resolver-typescript`, another thing would be adding a section about TypeScript resolver.

I’m here also asking for permission to maintain the issues at least, how do you think?

[2022-07-19 17:01] ljharb commented on #2501
Sure, I've given you Triage access.

[2022-07-19 17:01] #2501 closed

[2022-07-19 17:02] JounQin commented on #2500
Right, a lot of rules for like `import/no-unresolved` can be caught be TypeScript itself, but tsc is heavier than a plain resolver.

[2022-07-19 17:07] #2236 closed

[2022-07-19 17:09] ljharb commented on #2500
`tsc` runs at the same phase as a linter (design/build time, as well as in CI), and it doesn't make sense for a linter to be enforcing things that typescript does - at least when it adds complexity.

[2022-07-19 17:09] #2126 closed

[2022-07-19 17:12] JounQin commented on #2500
tsc and eslint are different things, and they can be used without each other. Resolving typings is expensive and slow, that’s why `esbuild`, `swc` ignore typings AFAIK.

[2022-07-19 17:14] ljharb commented on #2500
Sure - that both makes sense for a bundler, and is also why a linter would want to minimize needing to resolve typings.

[2022-07-19 17:18] JounQin commented on #2500
And are you meaning/saying we should not run this plugin at all on TypeScript files? It’s not right IMO.

This plugin has already been able to parse TypeScript files via `@typescript-eslint` and `type` nodes are already there, we just ignored them before. I imagine this would increase much size? Or maybe I can raise a PR for it?

[2022-07-19 17:19] ljharb commented on #2500
No, I'm not saying that at all. I'm saying we should not be duplicating checks that are already done in `tsc`. There's tons of things to lint that are specific to TS types but that aren't caught by TS because they're not type errors.

We explicitly and intentionally ignored `import type` statements awhile back, for this reason.

[2022-07-19 17:21] JounQin commented on #2500
I’m still confused, `import/no-unresolved` and many other rules can be covered by `tsc`, what’s the difference here then?

[2022-07-19 17:22] ljharb commented on #2500
tsc doesn't check things that aren't typed, especially within node_modules - and you could import a value from a file that isn't there that TS can't detect.

[2022-07-19 17:24] JounQin commented on #2500
I don’t think so if you have correct typing declarations? And that’s why TypeScript exists more than just `Type`.

[2022-07-19 17:26] ljharb commented on #2500
Right - but many dependencies don't.

In general, if it's easy to catch something with eslint, even if TS catches it, then we should! However, if there's any complications with something that's duplicated, we should drop it - which is what we did with importing types (not just `import type`), because there were false positives due to the complexity of resolving typings.

[2022-07-19 17:32] ljharb commented on #2500
I'd have to dig them up. We still support the old version of the TS resolver, so I doubt it's been resolved there.

[2022-07-19 18:34] JounQin commented on #2045
@jeffrson

The typings file in `react-date-picker` can be omitted as

[code]

The `declare module` block is just redundant as its own declaration file.

[2022-07-19 18:34] #2045 closed

[2022-07-19 18:55] JounQin commented on #2068
I suppose you did not use https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 18:55] #1536 closed

[2022-07-19 18:57] JounQin commented on #2054
duplicate of #1479

[2022-07-19 18:57] #2054 closed

[2022-07-19 19:01] JounQin commented on #2267
You should use https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 19:01] #2267 closed

[2022-07-19 19:08] JounQin commented on #2168
Can you provide a reproduction?

[2022-07-19 19:12] #1610 closed

[2022-07-19 19:12] JounQin commented on #1392
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

Feel free to comment if it still occurs.

[2022-07-19 19:16] JounQin commented on #1453
close in favor of above

[2022-07-19 19:16] #1453 closed

[2022-07-19 19:19] JounQin commented on #1757
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

And the two declaration files are different

https://github.com/sindresorhus/camelcase-keys/blob/1082010f742c9f5b371a4e2e7f86e2faa28f4e41/index.d.ts#L190

https://github.com/bendrucker/snakecase-keys/blob/b3a1abb37648da041d153286141138825266c613/index.d.ts#L108

[2022-07-19 19:19] #1757 closed

[2022-07-19 19:19] #1699 closed

[2022-07-19 19:21] JounQin commented on #1508
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 19:21] #1508 closed

[2022-07-19 19:26] JounQin commented on #1880
Typings do not affect the final output, so I would say it is as expected, or maybe a new option can be added, but I don't think it's worth.

And if you use https://github.com/import-js/eslint-import-resolver-typescript with `exports` field in `package.json`, it should work as expected.

[2022-07-19 19:27] JounQin commented on #1381
You can use

[code]

It won't error now.

[2022-07-19 19:27] #1381 closed

[2022-07-19 19:30] JounQin commented on #1152
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 19:30] #1152 closed

[2022-07-19 19:36] JounQin commented on #2040
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 19:37] JounQin commented on #1872
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 19:46] JounQin commented on #2187
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 19:46] #2187 closed

[2022-07-19 19:53] #2059 closed

[2022-07-19 19:58] ljharb commented on #1392
@jounqin this one seems to already be using the TS resolver

[2022-07-19 19:58] JounQin commented on #2458
I don't quite understand why this is useful, what's the purpose.

[2022-07-19 19:59] ljharb commented on #1532
@JounQin I don't think this should be closed; we should be fixing the rule, and making it more efficient.

[2022-07-19 20:00] ljharb commented on #1730
This isn't a duplicate; we need to fix the rule to handle `declare module`.

[2022-07-19 20:01] ljharb commented on #2458
You should be able to enforce the same rules in a `declare module` block as you do at the top level of a file.

[2022-07-19 20:02] JounQin commented on #1532
@ljharb

Seems no one is working on it for years, and this is specific to TypeScript only? Isn't that out of scope?

[2022-07-19 20:03] JounQin commented on #2458
This issue is asking a new option to `disable` this behavior.

[2022-07-19 20:04] JounQin commented on #1730
@ljharb #1479 is about `declare module` also.

https://github.com/import-js/eslint-plugin-import/issues/1479#issuecomment-782871787

[2022-07-19 20:05] #1730 closed

[2022-07-19 20:06] ljharb commented on #1532
It's not out of scope at all, and it doesn't matter how old something is, "staleness" is irrelevant :-) it'll get worked on eventually.

[2022-07-19 20:07] JounQin commented on #1392
Hah, sorry to misread the thread.

But there is no reproduction was provided, so it's hard to tell what was the cause then.

[2022-07-19 20:13] JounQin commented on #2478
duplicate of #1730 1479

[2022-07-19 20:13] #2478 closed

[2022-07-19 20:14] #2446 closed

[2022-07-19 20:16] ljharb commented on #2458
To be able to write the top-level file in one style, and a declare module block inside that file in a different style.

[2022-07-19 20:16] JounQin commented on #1810
You can use https://github.com/import-js/eslint-import-resolver-typescript which supports `exports` in `package.json` instead.

[2022-07-19 20:18] JounQin commented on #2458
But why should different styles be used. 😂

[2022-07-19 20:22] JounQin commented on #2365
You should use https://github.com/import-js/eslint-import-resolver-typescript if you're using TypeScript.

[2022-07-19 20:22] #2365 closed

[2022-07-19 20:25] ljharb commented on #1810
That should only be a suggestion for TS users; the real solution here is for `resolve` to add support for `exports`.

[2022-07-19 20:27] JounQin commented on #1810
Of course, I didn't close this issue. 🤣

[2022-07-19 20:30] JounQin commented on #1739
In `eslint-import-resolver-typescript`, this is implemented without relied on `resolve` module.

https://github.com/import-js/eslint-import-resolver-typescript/blob/master/src/index.ts#L223-L230

[2022-07-19 20:33] JounQin commented on #2170
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:33] #2170 closed

[2022-07-19 20:34] JounQin commented on #2468
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:34] #2468 closed

[2022-07-19 20:34] JounQin commented on #2462
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:34] #2462 closed

[2022-07-19 20:36] JounQin commented on #2457
I'm the author of https://github.com/mdx-js/eslint-mdx,  and this seems not true.

[2022-07-19 20:37] ljharb commented on #1964
@httpete if you're on the latest version of the plugin and still having problems, please file a new issue.

[2022-07-19 20:39] JounQin commented on #2455
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:39] #2455 closed

[2022-07-19 20:40] JounQin commented on #2458
They often only apply one style?

[2022-07-19 20:44] JounQin commented on #2434
`packageManager` in `package.json` can be considered in this case.

[2022-07-19 20:45] JounQin commented on #2423
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:45] #2423 closed

[2022-07-19 20:47] ljharb commented on #2458
Often, yes - but it's never an inherent restriction. Using eslint overrides, you can have N files each with their own distinct style if you want. While an eslint plugin maintainer _should_ use their subjective bias to decide what styles are supported, I think they should _not_ generally decide which "regions of code" get a style or do not.

In the case of `declare module`, it's akin to a separate

[2022-07-19 20:49] JounQin commented on #2458
Well, I can't agree with that, but whatever. 🤣

[2022-07-19 20:54] JounQin commented on #1350
I believe this  can be closed for a long time because https://github.com/import-js/eslint-import-resolver-typescript/pull/18 has already been merged.

[2022-07-19 20:54] #1350 closed

[2022-07-19 20:56] JounQin commented on #2426
It seems you're using TypeScript (`Props as DividerProps`), then you should use https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:56] #2426 closed

[2022-07-19 20:58] JounQin commented on #2301
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 20:58] #2301 closed

[2022-07-19 21:02] JounQin commented on #2295
I suppose you didn't use https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 21:07] ljharb commented on #2434
We definitely should not be considering a field used by an experimental tool that may not continue to be shipped in node.

[2022-07-19 21:12] JounQin commented on #2434
If it is defined by the user, then the user is using it. I don't think `experimental` matters in this case. 🤔

[2022-07-19 21:16] JounQin commented on #2278
close in favor of https://github.com/import-js/eslint-import-resolver-typescript

[2022-07-19 21:16] #2278 closed

[2022-07-19 21:19] JounQin commented on #2171
`typescript` should come before `node`.

[2022-07-19 21:19] #2171 closed

[2022-07-19 21:21] JounQin commented on #2155
It should be

[code]

Not one line `'import/resolver': 'typescript'`

[2022-07-19 21:24] ljharb commented on #2434
Either way, I think that users of a nonstandard package manager are already forced to learn how to conceptually map npm commands to their preferred package manager's commands (https://github.com/import-js/eslint-plugin-import/issues/2434#issuecomment-1097046365)

[2022-07-19 21:37] JounQin commented on #2013
`import 'x'` can have side effects, so the order can not be changed in many cases AFAIK.

[2022-07-19 21:40] JounQin commented on #2137
If you're using https://github.com/import-js/eslint-import-resolver-typescript, there should be no problem with this case

See also some related test cases

https://github.com/import-js/eslint-import-resolver-typescript/tree/master/tests/withJsExtension

[2022-07-19 21:43] JounQin commented on #2107
This is a usage question instead of an issue.

[2022-07-19 21:43] #2107 closed

[2022-07-19 23:14] httpete opened #2502 "Type only exports get flagged as not used by import/no-unused-modules"
I have one file which uses a type export:

[code]
Which is clearly imported with a type only import in another file:

[code]
But it gets flagged with :
  35:1  warning  exported declaration 'TopNavStore' not used within other modules  import/no-unused-modules

  The file is a .tsx file from a .ts file if that matters?

[2022-07-20 00:26] JounQin commented on #2461
Can you raise a PR and add the test case?

[2022-07-20 01:22] JounQin commented on #2502
Please provide reproduction.

[2022-07-20 08:49] pkuczynski commented on #2187
@JounQin could you explain how this issue was solved?

[2022-07-20 08:51] JounQin commented on #2187
You should use https://github.com/import-js/eslint-import-resolver-typescript with `eslint-plugin-import` as I linked.

[2022-07-20 15:39] httpete commented on #2502
All you need is one .ts file that has:
//bar.ts
[code]
and another that imports that type with a type import

[code]

[2022-07-21 06:31] yuhr commented on #163
This solution worked for me: https://github.com/import-js/eslint-plugin-import/issues/2085#issuecomment-847968665

[2022-07-22 00:32] tilgovi commented on #2111
Is an extension to the API needed? The current resolve interface returns the physical path, and it's called with the import path. Both paths are known, then.

[2022-07-22 00:45] JounQin commented on #2111
@tilgovi Maybe you can draft a PR for it.

[2022-07-22 01:11] tilgovi commented on #2111
What need is not being met by the TypeScript resolver today?

[2022-07-22 01:14] JounQin commented on #2111
TS resolver is working as expected, this plugin does handle extensions correctly.

[2022-07-22 01:57] JounQin commented on #2111
I totally agree with this, but it could be a BREAKING change.

[2022-07-22 02:07] tilgovi commented on #2111
The extensions rule knows both the import path and the resolved path (if it resolves). It needs to use the resolver to support checking whether the resolved path is a package or not.

Currently, when the path resolves, the extensions rule is getting the expected extension from the resolved path. The error happens because the resolved `.ts` file doesn't end in the expected `.js`.

The TypeScript te

[2022-07-22 02:11] tilgovi commented on #2111
For example, just because the resolver might be able to tell us what file should resolve to at runtime doesn't mean that's what the user wants their source to say. That may be what TypeScript users want today for a Node.js runtime target, but it might not be what someone else wants today or tomorrow.

[2022-07-22 02:17] tilgovi commented on #2111
If we do want to assume that it's the resolver responsibility to error if a source path is incorrect, we could make the change I was suggesting and use the import path's extension should or should not be present given the options of the extensions rule, as I said above.

As @JounQin said, that'd be a breaking change. And as I said, that'd be enshrining a particular role for the resolver that may o

[2022-07-22 02:22] JounQin commented on #2111
@tilgovi

The new behavior can be enabled under a new setting flag, then there will be no breaking change.

If you can contribute to draft a PR, that would be great!

[2022-07-22 02:25] tilgovi commented on #2111
I'll sleep on it first. I'm not sure how to name the flag or communicate what it does yet. Any suggestions are welcome.

[2022-07-22 03:09] JounQin commented on #2111
Good night. How about `preferImportExtension`?

[2022-07-25 07:18] DetachHead opened #2507 "[no-extraneous-dependencies] no error when `@types` package not listed in dependencies"
[code]
[code]

this is invalid for a `.ts` file as it needs `@types/eslint` to be in the `dependencies` (or devDependencies`) as well

[2022-07-25 07:20] DetachHead opened #2508 "[no-extraneous-dependencies] no error on imports in jsdoc `@type`s"
[code]

[2022-07-25 08:06] JounQin commented on #2507
I don't think `@types/eslint` is **required**, it **is valid**, it resolves `eslint` package correctly instead of `@types/eslint`, and TypeScript has told you to install `@types/eslint`.

[2022-07-25 08:12] DetachHead commented on #2507
the reason i use the `no-extraneous-dependencies` rule is to prevent cases where i accidentally install a package locally but forget to add it to `package.json`, which results in a successful build locally but a failed build in the CI.

the same thing happens when there's a missing `@types` package. it may work at runtime but typescript will fail to compile it in the CI because of the missing pack

[2022-07-25 08:47] JounQin commented on #2508
Maybe it should be used with https://github.com/gajus/eslint-plugin-jsdoc#user-content-eslint-plugin-jsdoc-rules-check-types?

`eslint-plugin-import` has no info about `jsdoc`.

[2022-07-25 08:47] #2508 closed

[2022-07-25 08:52] JounQin commented on #2507
But `eslint` is already in `dependencies`.

If you want all dependencies resolve `.ts`(including `.d.ts`), you can use [`import/extensions`](https://github.com/import-js/eslint-plugin-import#importextensions) setting to enforce that.

[2022-07-25 08:52] #2507 closed

[2022-07-25 10:02] DetachHead commented on #2507
@JounQin that doesn't work
[code]
[code]
[code]

is there something i'm missing?

[2022-07-25 10:06] JounQin commented on #2507
If you want always TypeScript files, you should omit `.js`.

`'import/extensions': ['.d.ts', '.ts']`

[2022-07-25 10:07] ljharb commented on #2507
It would be better to use `import type` to import types.

[2022-07-25 10:26] JounQin commented on #2507
`eslint-plugin-import` can only resolves one filepath at a time, see https://github.com/import-js/eslint-plugin-import/tree/main/resolvers#resolvesource-file-config---found-boolean-path-string-

So it can only be `.js` or `.ts`, not both at the same time.

[2022-07-25 14:13] super1114 opened #2509 "import order."
`../../hooks/useContract` import should occur before import of `../../shared/graphql`  import-helpers/order-imports

I think there is no rule for this issue on eslint

[2022-07-25 16:05] JounQin commented on #2340
In my business case, `import/no-duplicates` is very slow (I disabled `import/namespace` for `.ts` files).

[2022-07-26 10:15] trumko opened #2510 "eslint-plugin-import breaks if package.json is not in parent directory to the linted code"
After updating `eslint-plugin-import `from` 2.22.1` to `2.23.0` or higher the `eslint-plugin-import` breaks with warning:

`ERROR in [eslint] The "path" argument must be of type string. Received null`

After some investigation it looks like the reason is in the file structure, when `package.json` file is not in the parent directory to the linted code:

[code]

Interestingly, when I create a `packa

[2022-07-26 10:32] JounQin commented on #2510
Can you provide a minimal but runnable reproduction?

[2022-07-26 11:23] SDAdham commented on #2348
same here, no-cycle seems to be a performance destroyer

[2022-07-26 11:28] JounQin commented on #2348
Can you try https://github.com/un-es/eslint-plugin-i to see whether it's much faster?

[2022-07-26 11:33] SDAdham commented on #2348
It didn't work:
[code]

[2022-07-26 11:40] JounQin commented on #2348
@SDAdham Sorry I don't use `yarn@v2+`, maybe you can find something similar to package aliasing.

[2022-07-26 13:14] trumko commented on #2510
I just created minimal [reproduction](https://github.com/trumko/eslintMinimalReproduction), which is based on [this boilerplate](https://github.com/jpggvilaca/webpack-boilerplate).

1. Download repo
2. Go to `/build` folder
3. Run `npm install`
4. Run `npm start`

You should see the next error:
[code]

[2022-07-26 13:16] JounQin commented on #2510
@trumko Thanks for reproduction first, I'll take a look when I'm free.

[2022-07-26 15:43] burtek commented on #2416
Same here, working on an eslint plugin, imported `typescript` and it takes ages to lint a single file:

[code]

[2022-07-26 15:50] #2416 closed

[2022-07-26 15:51] burtek commented on #2416
@JounQin give me a few minutes, will let you know

[2022-07-26 15:56] burtek commented on #2416
@JounQin it is faster, but not much (I only replaced the 3 longest taking rules as I'm using shared config so it'd be hard to replicate all of it and replace `import` with `i`)

[code]

[2022-07-26 15:59] JounQin commented on #2416
@burtek

[code]

It should not needed to change your eslint config at all.

[2022-07-26 16:00] burtek commented on #2416
@JounQin oh, didn't know that's possible 😮

[2022-07-26 16:03] JounQin commented on #2416
That's documented at https://github.com/un-es/eslint-plugin-i#installation 😏

[2022-07-26 16:05] burtek commented on #2348
`eslint-plugin-import` is a nested dependency in my case, but it worked for me (using `yarn`) to use `eslint-plugin-i` via (in `package.json`):

[code]

[2022-07-26 16:05] burtek commented on #2416
@JounQin who reads docs nowadays 🙃 😆

[2022-07-27 07:07] BenoitZugmeyer commented on #2461
See https://github.com/import-js/eslint-plugin-import/pull/2511

[2022-07-27 08:12] dartess commented on #2348
Maybe I'm doing something wrong, but I got exactly the same result.

[2022-07-27 08:13] dartess commented on #2348
Maybe I'm doing something wrong, but I got exactly the same result.

[2022-07-27 08:16] lrdxg1 commented on #2348
Same here unfortunately. I was quite excited for this fix and was able to use the yarn resolution field to force `eslint-plugin-i` to be used but no difference.

Before:

[code]

After:
[code]

[2022-07-27 08:28] JounQin commented on #2348
Then it's not a resolving issue but performance effects in `ExportMap`.

[2022-07-27 14:31] ravicious commented on #2391
Just reporting another example of undesired autofixer behavior: [before](https://github.com/gravitational/webapps/blob/5d7fa2c473c4d3f65a02c3a1e8e5d3d3b5e7b300/packages/teleterm/src/mainProcess/mainProcess.ts#L1-L12) and [after](https://github.com/gravitational/webapps/blob/4da005d774cff0820b50439541a3d6ee1f89d0b3/packages/teleterm/src/mainProcess/mainProcess.ts#L1-L19). You can see it even adds s

[2022-07-28 06:56] waffledonkey opened #2512 "errant linter error when encountering an underscore as numeric separator"
Firstly, thank you -- and the entire eslint community -- for your efforts; amazing.

I had occasion to import camelcase-keys and I take 4 separate import linter errors using the recommended ruleset.  I dug into it and on line 15 of index.js they are [using an underscore as a numeric separator ](https://github.com/sindresorhus/camelcase-keys/blob/main/index.js#L15) which is completely [valid](https

[2022-07-28 07:03] JounQin commented on #2512
Please provide a github repository that can reproduce the problem.

 [Why Reproductions are Required](https://antfu.me/posts/why-reproductions-are-required)

[2022-07-28 07:03] #2512 closed

[2022-07-28 07:28] waffledonkey commented on #2512
that's completely fair; sorry about that.  here's a [repo](https://github.com/waffledonkey/eslint-import-2512) as requested

[2022-07-28 07:30] ljharb commented on #2512
You have ecmaVersion 2020, but numeric separators are in ES2021.

[2022-07-28 07:33] waffledonkey commented on #2512
omg.  I am so sorry.  now i need to go unring the bell at camelcase-keys.  thanks again!

[2022-07-29 07:43] apupier opened #2513 "Upgrade debug dependency to 4.3.1+ or 3.2.7+"
currently on 2.6.9 https://github.com/import-js/eslint-plugin-import/blob/0ef8cbaab5ba0789a6e1b716317b000b55ee4555/package.json#L104

but `npm WARN deprecated debug@4.1.1: Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when used in a Node.js environment. It is recommended you upgrade to 3.2.7 or 4.3.1. (https://github.com/visionmedia/debug/issues/797)`

[2022-07-29 09:16] ljharb commented on #2513
This is a non-problem; like most CVEs, it doesn’t apply to the way it’s used her3.

[2022-07-29 09:16] #2513 closed

[2022-07-31 07:46] dca123 opened #2515 "Documentation should be more verbose about the recommended config"
Hi,

I was trying to figure why a certain rule wasn't working even though I had enabled `plugin:import/recommended`. I eventually realised that the recommended config actually doesn't enable that rule. I think it would be super useful to have  as https://typescript-eslint.io/rules/ or https://eslint.org/docs/latest/rules/

If there isn't already work in progress about this topic, I would like to i

[2022-07-31 09:37] ljharb commented on #2515
This would be fine if it autogenerated the list using markdown magic; however, people really shouldn’t be using the recommended config - the Airbnb config has the best default config for this plugin.

[2022-07-31 10:04] JounQin commented on #2515
Airbnb config seems not using TypeScript.

[2022-07-31 10:14] dca123 commented on #2515
Could you expound a bit on this please ? Should i be using the airbnb config instead ?

[2022-07-31 10:25] ljharb commented on #2515
Yes, you should start with the Airbnb config and modify on top of it, including with TS stuff.

@jounqin neither is this plugin’s recommended config.

[2022-07-31 10:55] dca123 commented on #2515
The airbnb import is indeed way more extensive. I'm relatively new to configuring eslint in depth, so would it make sense to do somthing like `extends: [ ..., "airbnb-base:imports"]`. If this works, I think it we should mention in the docs that this package works well with airbnb, discourage the use of recommended &  maybe create a link to that file ?

I'm also open to the idea of using markdown m

[2022-07-31 10:59] JounQin commented on #2515
Not everyone use Airbnb's config.

[2022-07-31 10:59] ljharb commented on #2515
I think both is probably a good idea.

(In practice it turns out to be a very bad idea for plugins to also provide configs, because of semver constraints)

[2022-07-31 11:01] ljharb commented on #2515
@JounQin while that’s true, that’s not the same thing as saying they shouldn’t be.

[2022-07-31 11:26] dca123 commented on #2515
I think i agree with @ljharb here. While not everyone uses airbnb's config (me included), it appears to me that this plugin was built as a part of the airbnb linting (I might be wrong here lol).

Having looked at the airbnb config, it seems like the current recommended barely utilizes the power of this awesome plugin. To make this plugin easier to digest for newer users, I would have found it bene

[2022-07-31 18:30] ljharb commented on #2515
The reason the recommended config isn’t useful anymore is because adding anything to it would be a semver-major change.

You’re welcome to submit a PR; issue assignment isn’t significant :-)

[2022-08-01 15:56] super1114 commented on #2509
Awesome, that works, thx @JounQin

[2022-08-01 15:56] #2509 closed

[2022-08-04 08:20] Marcus3000 opened #2516 "I"

[2022-08-04 08:25] #2516 closed

[2022-08-04 13:29] WarrenMfg opened #2517 "[HELP] Style guide"
Hello, do I have to add the style guide rules manually. They don't seem to be working for me.

For example, I have an anonymous default export but I'm not getting an error or warning associated with `import/no-anonymous-default-export`.

I'm running Node v16.15.0 and working in TypeScript if that matters. Below is my rc file:

[code]

And here are my eslint dev dependencies:

[code]

Thanks in adv

[2022-08-04 13:34] JounQin commented on #2517
https://antfu.me/posts/why-reproductions-are-required

[2022-08-04 13:34] #2517 closed

[2022-08-04 13:45] JounQin commented on #2517
I don't understand what's your meaning, you want some rules to be enabled, and then you need to enable it, what's the problem.

The `recommended` config does not do much, you can just view https://github.com/import-js/eslint-plugin-import/blob/main/config/recommended.js

Maybe you are just confused like #2515?

[2022-08-04 13:51] WarrenMfg commented on #2517
Yes, that answers my question, thank you. It was unclear to me which rules were on or off by default when using `recommended`. Now I understand they are not all on by default. Thank you.

[2022-08-04 13:55] #2013 closed

[2022-08-04 17:59] ljharb commented on #2108
As long as that actually has no breaking change, that sounds great.

[2022-08-04 23:10] JounQin commented on #2108
OK, I'll raise a PR for it.

[2022-08-05 01:37] stoplion opened #2518 "Unable to resolve path to module"
`Unable to resolve path to module` from every local file
<img width="582" alt="image" src="https://user-images.githubusercontent.com/231343/182983092-9761b301-9161-46e4-9168-f5c4295f749c.png">

[2022-08-05 01:39] JounQin commented on #2518
https://antfu.me/posts/why-reproductions-are-required

[2022-08-05 01:39] #2518 closed

[2022-08-05 01:53] stoplion commented on #2426
same isssssu

[2022-08-05 03:24] JounQin commented on #2426
https://antfu.me/posts/why-reproductions-are-required

[2022-08-07 04:39] #2494 closed

[2022-08-08 03:03] stagas commented on #1810
Thank you @cyco130, that solved it for me.

[2022-08-08 06:51] sarat1669 opened #2520 "Is sort imports by length supported?"
Is it possible to sort by length along with grouping?

Before:
[code]

After:
[code]

[2022-08-08 08:27] JounQin commented on #2520
I'm personally fine with a PR for this proposal.

[2022-08-08 17:35] ljharb commented on #2520
Related to #2401, perhaps.

By length of what? The import names list? The specifier? Both?

It seems like it would be a supremely terrible user experience to have to resort your imports any time you add, remove, or rename a default or named import. I'm not sure I see the value of this sorting mode.

[2022-08-08 17:39] JounQin commented on #2520
@ljharb I guess it should be the length of the importee path.

[2022-08-08 17:40] ljharb commented on #2520
If it's the length of the specifier, then the lines will still not be in a nice aesthetic pyramid (due to varying lengths of the specifiers), so what's the point of that sorting method?

[2022-08-08 17:42] JounQin commented on #2520
I reread the issue content, it seems to be the whole length of the import statement.

[2022-08-08 17:50] JounQin commented on #2520
It seems to be true to me now.

But I was finding a rule to ensure the order of import names list, so that it could be easier reduce conflict on merging. (I don't remember if there is already a rule proposal for it, if not I'd like to create one. HDYT?)

And for this issue, I agree we don't want to resort when modifying the import statement.

[2022-08-08 18:10] ljharb commented on #2520
I think eslint's own https://eslint.org/docs/latest/rules/sort-imports rule handles that.

Seems like all (three) of us are in agreement.

[2022-08-08 18:10] #2520 closed

[2022-08-08 23:45] JounQin commented on #2520
@ljharb Does sort-imports support TypeScript?

[2022-08-08 23:47] ljharb commented on #2520
If not, I'd expect the TS eslint plugin to provide a replacement.

[2022-08-08 23:49] JounQin commented on #2520
cc @bradzacher

[2022-08-09 00:17] bradzacher commented on #2520
The core eslint rule will support most TS usecases, but it won't support "import equals" and it won't allow different treatment of type/value imports.

That being said - there are so many different sorting rules and plugins honestly I wouldn't want to add an extension rule to ts-eslint.

There are better alternatives like `import/order` or `simple-import-sort/imports` for example.

We already made

[2022-08-09 00:23] ljharb commented on #2520
I think the main feature in the core rule that we don’t have is sorting the import names themselves.

[2022-08-09 00:27] JounQin commented on #2520
I tried `simple-import-sort/imports` a few days ago, and found it's much lack of features, also the order of imports sometimes matter due to side effects, so we ended with giving up to use `simple-import-sort/imports`, so I still think we should include that feature in this rule in case `simple-import-sort` is less popular then `import`.

[2022-08-09 00:27] JounQin commented on #2520
Should I raise a new issue for discussion?

[2022-08-09 01:08] ljharb commented on #2520
Sure. I think the important first task will be to thoroughly audit the core rule, and figure out what the actual missing feature comparisons are.

[2022-08-09 03:10] bradzacher commented on #2520
I think I just threw up in my mouth a little.

Jokes aside if modules with side-effects are common then the codebase shouldn't consider a sorting rule ever.

At meta we have various tooling which pretty much prevents side-effects from working, which keeps the codebase nice and pure and allows us to indiscriminately sort the entire codebase (100s of thousands of files).

---

I think the lack of fe

[2022-08-09 03:58] JounQin commented on #2520
We have legacy projects and want to migrate to modern toolchains, unfortunately.

I'd love use it in my personal projects, but for business projects, I just can't. 😅

(I just hate to use Angular in my business projects, it use NgModule which may be the root cause of side effects. 😭)

[2022-08-09 04:42] ljharb commented on #2520
@bradzacher i think that there's only two reasonable positions to take:
1. every module can have side effects, and nothing can ever safely be sorted
1. only modules without bindings are expected to have side effects, and anything else can be safely sorted (but nothing can be moved across a side-effecting import)

This plugin assumes the latter.

[2022-08-09 05:28] JounQin opened #2521 "Adopt ESLint core `sort-imports` rule into `import/order`"
The core eslint rule will support most TS usecases, but it won't support "import equals" and it won't allow different treatment of type/value imports.

That being said - there are so many different sorting rules and plugins honestly I wouldn't want to add an extension rule to ts-eslint.

There are better alternatives like `import/order` or `simple-import-sort/imports` for example.

We already made

[2022-08-09 05:29] JounQin commented on #2521
cc @bradzacher @ljharb

Let's continue the discussion here.

[2022-08-09 05:32] ljharb commented on #2521
What features does the core rule have that we lack?

The only one I'm aware of off the top of my head is the ability to sort named imports within a single import (or possibly export) statement.

[2022-08-09 05:32] JounQin commented on #2521
For me personally, I only need a [`ignoreMemberSort`](https://eslint.org/docs/latest/rules/sort-imports#ignoremembersort) option, and it should be `false` by default.

[2022-08-09 05:34] ljharb commented on #2521
I think that you mean the reverse? a `enforceMemberSort` option that's `false` by default?

[2022-08-09 05:35] JounQin commented on #2521
That would be great, I just want to point out how ESLint core handle this in `sort-imports` rule.

[2022-08-09 17:36] slice312 opened #2522 "`newline-after-import` not accepts `considerComments` prop"
Invalid property `considerComments`

Rule in my config:
` "import/newline-after-import": ["warn", {count: 2, considerComments: false}],`

Error log:
[code]

[2022-08-09 18:24] ljharb commented on #2522
That's because it hasn't been released yet.

On Github, you always have to check the docs under a tagged release, not on main/master.

[2022-08-09 18:24] #2522 closed

[2022-08-10 08:11] slice312 commented on #2522
ok, sry

[2022-08-10 18:39] Sergei8888 commented on #1062
Still getting this error on general usage of rule

[2022-08-10 18:57] ljharb commented on #1062
@Sergei8888 can you answer the question in https://github.com/import-js/eslint-plugin-import/issues/1062#issuecomment-903051219 ?

[2022-08-11 03:54] JounQin commented on #2521
@ljharb Are we in agreement? (Is this change accepted? I'd like to work on this, if so.)

[2022-08-11 03:56] ljharb commented on #2521
I'd first like to understand what are all the feature gaps - if we're trying to replace the core rule, then we'd need to account for all of its use cases.

[2022-08-11 04:05] JounQin commented on #2521
Did you mean https://eslint.org/docs/latest/rules/sort-imports#options?

[2022-08-11 04:13] ljharb commented on #2521
Yes, and in particular, the use cases provided for by the various combinations of options.

[2022-08-11 04:21] JounQin commented on #2521
So I'm still not for sure what's the next action to do? Maybe what options should be provided?

[2022-08-12 09:47] ehoogeveen-medweb commented on #2521
One thing I would *not* like to see is for `import/order` to adopt the behavior of `sort-imports` where sorting by member syntax appears to be mandatory and `memberSyntaxSortOrder`, if provided, must be an array containing all four values. I don't understand why enforcing a specific ordering between imports with a single named import and imports with multiple named imports is desirable, much less

[2022-08-12 09:56] ehoogeveen-medweb commented on #2476
Another suggestion: Allow certain groups or pathGroups to be exempt from sorting.

I generally want my imports to be sorted alphabetically by import path, but for external libraries there might be side effects that need to happen in a specific order (I actually only use these import statements for mouseover information and autocomplete in VSCode, a post-processing step turns them into unassigned i

[2022-08-13 02:58] nickluger opened #2524 "no-internal-modules should ignore index.js imports (ESM)"
For a directory `foo`
[code]
And using [ECMAScript modules (ESM)](https://nodejs.org/api/esm.html#modules-ecmascript-modules), Node.js module resolution is not a valid import syntax.
[code]
While these are valid, but being reported by `no-internal-modules`:

[code]

`no-internal-modules` should be usable with ESM, though and ignore `/index.js` imports.

[2022-08-13 03:04] JounQin commented on #2524
When not just disable `no-internal-modules` rule in this case? And what should be reported with this rule enabled with ESM in your opinion then?

[2022-08-13 04:13] ljharb commented on #2524
Currently, this plugin only supports transpiled ESM, not native. If you use babel or tsc, this works fine.

When `resolve` supports the exports field and ESM resolution, we can also add an option to enable native ESM (which is strictly worse than transpiling in all envs, and so won’t be the recommended default)

[2022-08-13 04:13] #2524 closed

[2022-08-13 05:06] nickluger commented on #2524
Ah, okay, thanks for the quick reply! 🙏

Yeah, but it's a bit of a PITA, as more and more parts of the ecosystem are moving [pretty aggressively](https://github.com/sindresorhus/meta/discussions/15) towards native ESM. With transpiling, I assume you mean transpiling to CJS in a Node environment? Cause, one can transpile to native ESM, too (`nodenext`-mode), which we do for internal libraries that

[2022-08-13 05:37] ljharb commented on #2524
That's not "more parts", that's just one single individual who unfortunately has an outsized reach. The vast majority of the ecosystem is sticking with what works for users, which is decidedly _not_ ESM-only - if you find any author prioritizing ideology over your actual use cases, I always suggest finding an alternative package with an author who is not hostile to your needs.

[2022-08-13 05:40] ljharb commented on #2476
@ehoogeveen-medweb any import with side effects should omit all bindings (like `import 'foo';`). Any bindingless import is assumed to have side effects, and thus, will *never* have anything before it moved after, or anything after it moved before.

[2022-08-13 05:43] ljharb commented on #2521
The next action is "research" :-) someone needs to do the work to figure out an exhaustive list of what is possible with the core rule, and with the import rule, and then figure out how we can close the gap.

@ehoogeveen-medweb yes, I definitely agree that it's better that we're more flexible.

The main thing is, that if we provide a migration path for every user of `sort-imports`, then eslint wil

[2022-08-13 06:00] nickluger commented on #2524
Yeah, and this might be a bit off-topic (in this issue). But, when researching this stuff, you find articles from proponents for ESM, explaining why and how to move, or articles that explain why CJS and ESM don't get along.

I really valued your input on other issues, and especially because you have a bit different stance on that, I would like to know why you prefer `transpiling in all envs` and t

[2022-08-13 06:04] ljharb commented on #2524
I prefer it because native ESM is slower and less featureful in every environment than CJS (bundled CJS in a browser). Libraries should be published as CJS (they can add ESM if they want, but there's no value to doing that), and then they can be used everywhere. ESM-only libraries still can't be used in a browser without a bundler, and native ESM in node doesn't yet have anywhere close to the feat

[2022-08-13 07:16] nickluger commented on #2524
Thank you for sharing your thinking on that!

[2022-08-13 14:23] ehoogeveen-medweb commented on #2476
@ljharb I know, but that's not what I'm talking about. I wrote a babel plugin to take something like
[code]
and turn it into something like
[code]
so that I can get autocomplete and mouseover information in VSCode while ultimately still using UMD globals (eventually I'd like to modernize our code completely but that's still a long way away).

So from the perspective of `import/order` these imports

[2022-08-13 15:04] ljharb commented on #2476
That seems like it’d create a lot of confusion for developers, in addition to breaking anyone that uses a moment or $ identifier for something else, or uses different identifiers for moment or jquery.

[2022-08-13 17:10] ehoogeveen-medweb commented on #2476
We're coming from a situation where these things just magically existed and the fact that they did was completely undocumented, so defining them in a way where VSCode will tell you what it's supposed to be and ESLint will warn you if you try to redefine it is a major step up. The hard part is the initial step of documenting what comes from where. I'm not advocating it as a solution for other proje

[2022-08-15 14:16] SimenB commented on #909
TypeScript 4.5 also supports inline `type`: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-5.html#type-modifiers-on-import-names

[2022-08-15 17:49] ljharb commented on #909
We'd probably have to detect TS version regardless to support that, and we may want it to be a separate option. Let's explore it in #2229.

[2022-08-16 02:31] me4502 commented on #2493
IMO the main usecase for a rule like this over `no-restricted-syntax` is that it can have an auto-fixer when type information is available (replace the wildcard with all named exports), as well as build tooling performance.

Especially in tests where modules are often isolated, knowing what exports are available from a file prevents having to parse that file when none of the exports are actually n

[2022-08-16 02:50] JounQin commented on #2493
My question would be why `export *` is introduced into the ES spec if it should be considered as harmful, and I personally love this syntax because it's short and we don't need to manage exports a lot of places. The original issue should reported to `unimported` instead IMO.

[2022-08-16 02:57] me4502 commented on #2493
I feel that's somewhat of a poor reason to not have a linting rule. Linting rules exist to match preferences of a codebase, and for codebases that want this it can have a major impact.

While these seem to _break_ `unimported`, the fact that wildcard exports slow down _all_ build tools isn't something that build tools can avoid. They need to know if a file contains the export they're looking for,

[2022-08-16 03:21] bflatmajor commented on #2324
I think it's meaningful, `no-unused-vars` is not auto fixable, but a rule like this can be.

[2022-08-16 04:31] ljharb commented on #2324
@bflatmajor no it can't, for the same reason that rule isn't safely autofixable - the variable name might be unused but the import's side effects might not be.

[2022-08-16 04:40] ljharb commented on #2493
@JounQin quite a lot of things that are now considered harmful exist in the ES spec - existence in any spec is *never* an inherent endorsement for using anything. Explicit > implicit, and if you don't want to manage exports in a lot of places, *don't re-export them anywhere* - instead, deep import exactly what you need from the lone place it should be exported from.

@me4502 Barrel files are harmf

[2022-08-16 13:20] NishargShah commented on #2521
Yes adding a member sort alphabetically is a very good choice.

There is also one good functionality in `sort-imports`, which allows you to specify `memberSyntaxSortOrder`, and sometimes it is mandatory because it looks good if all the multiple members are in the bottom ( sort by import path again ).

Currently, I can not use that because it conflicts ( `import` is using a path where `sort-imports

[2022-08-16 16:36] httpete opened #2525 "no-unused-modules should honor exports field"
we use :

[code]
In our package.json, and clearly anything exported from this file should not be flagged as unused.

[2022-08-16 16:41] JounQin commented on #2525
duplicate of #2132

[2022-08-16 16:42] #2525 closed

[2022-08-17 12:41] Dharmikpatel298 opened #2526 "import/first rule not working"

[2022-08-17 12:42] Dharmikpatel298 commented on #2526
Done by mistake

[2022-08-17 12:42] #2526 closed

[2022-08-17 16:26] ImanMahmoudinasab commented on #2069
@JounQin @ljharb I may get some time to work on this. Do you think the following changes will be the right direction?

#### ./resolvers/webpack/index.js:
[code]

#### ./resolvers/webpack/syncImport.js:
[code]

[2022-08-17 16:35] ljharb commented on #2069
I’m very skeptical about using anything that artificially forces async things to be sync. That should be something you can use in your config, but not something that should be built into this plugin.

[2022-08-17 16:38] JounQin commented on #2069
The downside is `synckit`(or `worker_thread` actually) is not compatible with current node versions we're supporting here.

So an alternative would be you can write another 3rd-party resolver instead.

[code]

These codes are unnecessary, `await` already handles it. And you need to consider `.default` exports.

[2022-08-17 16:52] JounQin commented on #2069
ESLint forces things to be sync, not the user . 😅

What means async webpack config does not work at all now.

But I think it should be done in a 3rd-party resolver.

[2022-08-17 18:45] ljharb commented on #2069
@JounQin yes, but i'm saying that *async code* should never be artificially made synchronous; that's been a bad practice in node ever since https://www.npmjs.com/package/deasync was new, almost a decade ago.

Async webpack config has never worked for eslint, and can't ever work reliably until eslint allows async configuration.

[2022-08-17 22:00] JounQin commented on #2069
I'm totally fine not to include such tools in the built-in, but a bit against with this conclusion.

The js ecosystem has been moving to ES module for a long time, but ESLint does not support pure ESM plugin, that makes the plugin authors can not upgrade pure ESM dependencies. For example, [`mdx@v2`](https://github.com/mdx-js/mdx) ecosystem. [`eslint-mdx`](https://github.com/mdx-js/eslint-mdx) wan

[2022-08-17 22:03] ljharb commented on #2069
The JS ecosystem has only *very* recently _begun_ moving to ESM, and it's not even remotely close to 1% in terms of authors (considering "packages" skews the perspective). eslint obviously needs to start supporting ESM plugins, but it's eslint - and only eslint - that owns/should own the timeline for that feature.

I'm not clear on how `synckit` can actually work without C++ bindings, but I'm happ

[2022-08-17 22:03] JounQin commented on #2069
@ImanMahmoudinasab

Then you have to wait ESLint to support pure ESM and `async` rules, which could take a long time.

Personally I don't use webpack resolver, or even the `Promise` configuration. 😅

[2022-08-17 22:10] JounQin commented on #2069
It is using `worker-threads` and `Atomics.wait()` under the hood, see also https://github.com/un-ts/synckit/blob/dba496db474d50415161e01c3bb38ccb18bc34ea/src/index.ts#L335

The idea comes from `sync-threads` package and modern `esbuild`.

I agree that the built-in webpack resolver does not need to support this usage, that's why I said it could be implemented in a 3rd-party resolver, if the user de

[2022-08-17 23:23] JounQin commented on #2069
@ljharb I'd like to create a `eslint-import-resolver-webpack-async` repository in this organization, HDYT?

[2022-08-18 17:48] ljharb commented on #2069
It'd probably be best to create it independently at first, and see it get some adoption, and then transfer it into the org?

[2022-08-18 23:07] JounQin commented on #2069
Good idea.

[2022-08-20 04:31] ChristianIvicevic opened #2527 "`import/namespace` in combination with `@vercel/node` is increasing the linting time by a factor of x80"
Repo for reproduction is here: https://github.com/ChristianIvicevic/import-namespace-issue-repro

I noticed that eslint takes ages linting the single file in this repo and profiling timings yields the following:

[code]

After trial-and-error I noticed that the offending line is this:

https://github.com/ChristianIvicevic/import-namespace-issue-repro/blob/9ec4d56d22280ad3d94671fb282262107dd47304/.

[2022-08-21 08:00] deeeeno opened #2528 "is any options to add `exclude pathGroup` in `import/order`?"
Hi. I have a question for using `import/order`

I have  import ordering dependency in code, so I want to set `pathGroup` to exclude.

is any options to add `exclude  pathGroup` in `import/order`?

[2022-08-21 15:21] ljharb commented on #2528
Can you elaborate? Example code and what you want it to do, and what it currently does, would be helpful.

[2022-08-22 00:41] deeeeno commented on #2528
Hi @ljharb! Thanks for your reply!

In some reasons, I have to set css, scss file to buttom of import area. Here's example.
[code]
I use `alphabetize` option in `import/order`, so when `eslint --fix`, Style import codes goes up.
To prevent it, I set the `parent, sibling` group to bottom, but it only works for 'relative path'.

Here's my rules.
[code]
I want to make style import codes with using `a

[2022-08-22 18:37] ljharb commented on #2528
Why do they have to be at the bottom?

[2022-08-22 18:37] ljharb commented on #2528
(also note that it's an absolute path only when it starts with `/`; it's a package specifier when it starts with something that's not `.` or `/`)

[2022-08-23 00:40] callmeaponte commented on #2407
FYI here's another instance where Svelte and this plugin don't play nicely together:

<br>

**Before**
[code]

<br>

**After**
[code]

[2022-08-23 01:01] stenin-nikita opened #2529 "Does not cache ambiguous modules"
### Description

The linter runs for a very long time if the "import/no-cycle" rule is enabled on a large project with typescript. I think the problem is that eslint does not cache all modules. For example, these files will always be parsed again:

- https://github.com/aws/aws-sdk-js/blob/master/clients/all.d.ts
- https://unpkg.com/browse/date-fns@2.29.2/typings.d.ts

Minimal repository for reprod

[2022-08-23 01:08] ljharb commented on #2407
@callmeaponte just like with vue, you'd need a svelte-specific eslint parser to be able to handle that.

[2022-08-23 01:09] JounQin commented on #2407
Use https://github.com/ota-meshi/eslint-plugin-svelte instead of hacky https://github.com/sveltejs/eslint-plugin-svelte.

[2022-08-23 03:37] ljharb commented on #2527
The slow part is the `ExportMap.get` call, which has to build up a dependency graph of everything - including `@vercel/node`, which must take awhile to traverse.

If you enable multiple import rules that use the ExportMap, whichever is first will be "blamed" for being slow, and the rest will be fast. In other words, this doesn't have anything to do with `namespace` specifically, but something with

[2022-08-23 08:08] stenin-nikita commented on #2529
May be a similar problem here #2076

[2022-08-23 23:30] trevor-scheer opened #2530 "[import/extensions] Option to enforce extensions for type-only imports"
We have a use case for enforcing the `.js` extension even on type-only imports (I'm aware this is odd).

This requirement stems from supporting TS users using modules (by specifying `"type": "module"` in their `package.json`) and specifying `nodenext` for both `module` and `moduleResolution` options in their tsconfig.

Some context can be gleaned from this PR, where I created a failing test using

[2022-08-23 23:38] ljharb commented on #2530
Duplicate of #2111, i think.

It seems overwhelmingly horrific to add a `.js` extension when it's not even JS that's being imported, so I don't think it's reasonable to do that. Perhaps the TS import resolver could handle it, but that shouldn't be part of the main plugin. cc @JounQin

[2022-08-23 23:41] JounQin commented on #2530
Handle what? The ts resolves `.js` as `.ts` **correctly**, What can I do in the resolver?

[2022-08-24 00:45] trevor-scheer commented on #2530
While I don't disagree (re: overwhelmingly horrific), it looks like this is the world TS users are in for, as some others in #2111 have pointed out. I've gotten some context reading through #2111, but some things are still fuzzy.

IIUC, the PR I referenced, while related, is right to ignore type imports because `import/extensions` is not interested in (but is generally compatible with) typescript

[2022-08-24 06:11] ljharb commented on #2529
That definitely seems like a worthy change. Care to make a PR?

[2022-08-24 11:19] stenin-nikita commented on #2529
ОК. I did a PR and wrote a test

[2022-08-24 17:54] ChristianIvicevic commented on #2527
@ljharb Is there anything either the plugin can do to better or that `@vercel/node` can improve?

[2022-08-24 17:55] ljharb commented on #2527
Almost certainly yes on both counts - #2531 may help, if `@vercel/node` imports an inordinate number of type definitions from d.ts files, but beyond that, someone would have to do some pretty thorough debugging to figure out what was making it slow.

[2022-08-24 18:33] hesxenon opened #2532 "shortcut for blacklisting whole package"
I think it'd be nice to have a shortcut identifier to blacklist a whole package from a given path.

like
[code]
would prevent any file within `domain` from importing from the `contracts` package.

##### Note:
I feel like this should already be possible with the node resolver, but I'm not able to get it to work without dragging in lots of other errors...

[2022-08-24 18:38] ljharb commented on #2532
I'm a bit confused. Generally one only lints first-party code - or do you mean `./domain/**/*` the local files as opposed to the domain package?

Assuming that's what you mean, it seems like you can do this using the core https://eslint.org/docs/latest/rules/no-restricted-imports / https://eslint.org/docs/latest/rules/no-restricted-modules rules, and eslint overrides on that path?

[2022-08-24 18:43] hesxenon commented on #2532
the thing is that when using npm workspaces `contracts` _is_ first party code.

So imagine I have a frontend package with a hexagonal architecture; I'd like to be able to prevent direct imports from the contracts package _only_ in the domain layer. `no-restricted-modules` would blacklist that import everywhere in the frontend package, wouldn't it?

I can work around this by setting `"target": "../

[2022-08-24 18:43] hesxenon commented on #2532
jeez, I see what you mean now... I've flipped "from" and "target"...

[2022-08-24 19:06] ljharb commented on #2532
in that case, you don't want to be linting the `contracts` that's inside node_modules - you want to be linting the actual workspace's location.

Using eslint overrides, you'd prevent that import only in the files you wanted to prevent it in.

[2022-08-25 01:00] hesxenon commented on #2532
no, I'm not linting the files inside `contracts`, I've flipped the "from" and "target" originally - sorry for the confusion. I want to prevent importing from `contracts` in `domain`.

I've adjusted the original text to reflect this

[2022-08-25 05:30] ljharb commented on #2532
OK - same solution applies tho.

Use eslint overrides to create a "rules" section (in the only eslintrc that should be in your repo, the one at the root) that only applies to files within `domain`. In that override, specify no-restricted-imports and no-restricted-modules so that files in `contracts` can not be required or imported.

[2022-08-25 16:01] #2461 closed

[2022-08-25 18:34] peter-coastpay-com commented on #2301
what file does this go in? im currently facing this issue

[2022-08-25 19:05] ljharb commented on #2301
@peter-coastpay-com See https://github.com/import-js/eslint-plugin-import#resolvers

[2022-08-26 01:13] #1984 closed

[2022-08-26 06:56] boris-petrov opened #2533 "`import/default` broken under TypeScript 4.8"
I updated my TypeScript version to 4.8.2 (from 4.7.4) and started getting a bunch of bogus `import/default` warnings. I see that it's because of a decorator:

[code]

Importing this leads to a `import/default` warning. That could be related to TypeScript 4.8's change to [decorator handling](https://devblogs.microsoft.com/typescript/announcing-typescript-4-8/#decorators-are-placed-on-modifiers-on-t

[2022-08-26 15:22] kristiannotari opened #2534 "How to restrict imports from same tsconfig project"
Hello, I have a monorepo with two packages and two different tsconfig, in a directory structure like:
[code]

I'd like for files in package `a` to be able to only import files relative to package `a`, and to not be able to import, let's say:

[code]

The `no-relative-parent-imports` does that, but also forces me to use that guideline for every import inside both `a` and `b` internal folder structu

[2022-08-26 16:03] #2292 closed

[2022-08-26 16:05] ljharb commented on #2533
Very likely - we'll almost certainly have to update our AST node visitors to handle TS 4.8's new approach.

[2022-08-26 16:11] ljharb commented on #2534
Use eslint overrides to configure the rule just for `a`.

[2022-08-26 22:18] ljharb commented on #2147
Yeah, after reviewing this again, I think this isn't a bug, this is just the consequence of using dots in a file while also omitting extensions in the specifier.

This isn't a good convention - filenames should only have zero or one dots, and the extension is whatever's after the dot.

[2022-08-26 22:18] #2147 closed

[2022-08-27 01:46] drwpow opened #2535 "[import/no-restricted-paths] array not allowed for target"
**Description**

When passing an array of glob strings to `target`, the plugin throws a “should be string” error.

**Steps to Reproduce**

Pass this as an option to the plugin (copied directly from the documentation):

[code]

And the plugin will throw the following error:

[code]

**Specs**
|                      |                  |
|:---------------------|:-----------------|
| OS

[2022-08-27 02:19] ljharb commented on #2535
That’s because you’re looking at unreleased docs. If you look on the tagged release (this applies to everywhere in github, not just this repo), you’ll see it requires a string until the next release: https://github.com/import-js/eslint-plugin-import/blob/v2.26.0/docs/rules/no-restricted-paths.md

[2022-08-27 02:19] #2535 closed

[2022-08-27 02:58] drwpow commented on #2535
Ah thank you for explaining! Sorry for the issue.

[2022-08-27 03:44] ljharb commented on #2535
No problem! Unfortunately Github doesn't have a way for me to make the default docs be the latest release tag :-/

[2022-08-27 05:58] ljharb commented on #2344
This issue has gotten a bit off topic. I'm going to close it.

Those following: please wait until the next release (v2.27.0), and if you're still having troubles *after* that comes out, please file a new issue with all the details! If you include a repro repo, or make a PR with failing test cases, I can fix your issue *much* faster. Thanks!

[2022-08-27 05:58] #2344 closed

[2022-08-27 06:01] ljharb commented on #2362
https://unpkg.com/browse/@angular/core@14.2.0/package.json doesn't contain a "main", nor an `index.js`, and this plugin doesn't support the "exports" field yet.

However, it does have a "module" field, but https://unpkg.com/browse/@angular/core@14.2.0/fesm2015/core.mjs doesn't export "OnInit".

So, this is either a correct error, or, a consequence of not yet supporting "exports". It's unfortunate

[2022-08-27 06:01] #2362 closed

[2022-08-27 08:49] kristiannotari commented on #2534
I need both `a` and `b` to not have imports directly referring to files in the other package. But I want complete freedom over relative imports within the same package, so using `no-relative-parent-imports` inside the packages is a no go at the moment.

[2022-08-27 08:52] JounQin commented on #2534
`overrides` separately for `a` and `b`? Actually, I'm quite sure what you want to achieve.

A minimal but runnable reproduction would help.

https://antfu.me/posts/why-reproductions-are-required

[2022-08-27 09:44] hesxenon commented on #2532
yes, that works, same as directly pointing to the node_modules folder. However, I'd like to keep my rules for enforcing my architecture as close together as possible.

Is there a reasoning for not implementing the shortcut other than "there are existing solutions"? Don't get me wrong, nothing wrong with that reasoning, I just thought it'd be neat to have a shortcut.

[2022-08-27 15:00] ljharb commented on #2532
It’s added complexity that is already achievable. The slippery slope is that every rule has to add such a shortcut - why go down that road when overrides exist?

[2022-08-27 16:39] ljharb commented on #2439
Can you elaborate on why you want to ignore any cycles?

[2022-08-27 21:39] ljharb commented on #2102
@Slapbox it might be that you're missing the node resolver - add that last, after webpack.

[2022-08-28 06:03] #1590 closed

[2022-08-29 04:22] EvHaus opened #2536 "Unexpected token 'import' when using new ESLint config"
I'm looking into switching to [ESLint's new config system](https://eslint.org/blog/2022/08/new-config-system-part-2/) and its recommended ESM syntax. Everything is going well and the vast majority of my plugins are working just fine, except for `eslint-plugin-import` which fails with:

[code]

To reproduce, create a repo with:

- `type: "module"` in `package.json`
- Create a `eslint.config.js` fil

[2022-08-29 05:09] ljharb commented on #2536
(oof, I don't see any advantage to ever using native ESM in a config file)

While this plugin, via `resolve`, doesn't yet understand "exports" or `type: "module"` (which, ftr, is 100% unnecessary to use ESM and should be avoided regardless), this message comes from node.

I suspect the issue is that `import` is a restricted word, so you can't use it as a variable name.

[2022-08-29 05:28] EvHaus commented on #2536
🤦 Duh, of course! Thanks for the quick response, and I apologize for opening up yet another ESM-related can-of-worms.

For those coming to here from the future -- the fix was:

[code]

[2022-08-29 05:28] #2536 closed

[2022-08-29 14:54] kristiannotari commented on #2534
Ok while I was creating a repro I hit the "rootDir" option in tsconfig file which does just what I wanted, giving me a typescript error if it finds imports from relative paths outside the current tsconfig project.

[2022-08-29 14:54] #2534 closed

[2022-08-29 15:03] xsjcTony opened #2537 "[import/named] will report error upon "export * from""
First of all, I've tried search through issues and google, but cannot find anything helpful, if I miss something, sorry for that.

---

If I import something from a module with `export * from anotherModule`, the `import/named` rule will throw an error.

Example:
[code]
[code]
[code]

I'm not sure if this is a false positive or intended, is there any workaround?

---
In `Vue3`, this happens a lot,

[2022-08-29 15:08] ljharb commented on #2537
What version of the plugin are you using?

[2022-08-29 15:22] xsjcTony commented on #2537
Sorry I forgot to mention it. I've updated the issue

[2022-08-29 18:19] ljharb commented on #2537
This seems like it might be due to the Vue eslint parser I assume you're using - we already have passing tests for this exact scenario: https://github.com/import-js/eslint-plugin-import/blob/04e114b686bd5acab887ebacaa3b178ea264c96a/tests/src/rules/named.js#L369-L382

[2022-08-29 18:43] xsjcTony commented on #2537
Not sure about that. Since the same thing happens for one of my `React` app which uses `@typescript-eslint/parser` as parser.

https://github.com/xsjcTony/wordle
(Sorry for the inconvenience, as I have no idea how to apply ESLint on platforms like StackBlitz)
You can clone this repo and import something from `/src/test/utils` which is in `@testing-library/react` such as `screen`.
`import { screen

[2022-08-29 18:45] ljharb commented on #2537
Could you make a branch that already has the needed changes, so i can clone that directly?

[2022-08-29 19:00] xsjcTony commented on #2537
I'm sorry that I cannot reproduce it now. I'm just so confused. :-<
I was pretty sure the error was raised otherwise I wouldn't turn the rule off.

I guess I'll just turn the rule off for now in my `Vue` app, and if I meet the problem again with a normal parser I'll immediately provide a reproducible repo.

[2022-08-29 19:10] ljharb commented on #2537
Thanks, appreciate it. A repro with the vue parser might still help, fwiw. I'll close for now.

[2022-08-29 19:10] #2537 closed

[2022-08-29 19:20] xsjcTony commented on #2537
https://github.com/xsjcTony/aelita.me

@ljharb Hi, Here's a repro with both `@typescript-eslint/parser` and `vue parser`

###  `typescript-eslint/parser`:
Clone the repo and run `pnpm install` or npm, yarn whatever, the error should be raised straight away in IDE, and in `pnpm run dev` as well
![Snipaste_2022-08-30_05-16-57](https://user-images.githubusercontent.com/45784210/187280668-14aaff48-d8b

[2022-08-29 19:23] ljharb commented on #2537
The error is not raised with `npm run dev`, or with `npx eslint .` or `npx eslint src/main.ts` or `npx eslint --config=.eslintrcvue.cjs src/main.ts`.

[2022-08-29 19:28] xsjcTony commented on #2537
No error for both parsers? emm... I'm way so confused.
I guess it's either something wrong with my environment or just something weird that happened.
If it's not reproducible then no way we can solve it.

Anyway thanks a lot for taking care of my issue. Really appreciated.

[2022-08-29 19:33] ljharb commented on #2537
To be clear, i'm using `npm install` - pnpm and yarn's PnP often break things, so if you can repro it with those but not with npm, then i'd file an issue there.

[2022-08-29 19:43] xsjcTony commented on #2537
You are so smart, sir.
There is no problem with `npm`.
From my experience of my last react app which was mentioned above, I'm guessing the problem may just go away several days later with `pnpm` for whatever reasons.
I have to switch to `npm` now, but it's soooo slow compare to `pnpm`

Thanks a lot again!🤝

[2022-08-29 19:55] ljharb commented on #2537
That can be frustrating, but nothing's slower than incorrect ¯\\\_(ツ)_/¯ glad npm is working for you

[2022-08-29 22:02] ljharb commented on #2497
@acidoxee you'd say "everywhere, do X" and "in this one place, do Y instead" as two overrides. You don't need negative glob patterns (altho that would also work)

[2022-08-29 22:54] ljharb commented on #2451
If you can provide a repro repo, or a PR with failing test cases, I'd love to reopen this and fix it.

[2022-08-29 23:30] unleashit commented on #2451
In the middle of a move so won't have time in the near future unfortunately...

Maybe I wasn't clear though? My problem is the behavior of the eslint "fix". It attempts to convert the relative path (which for me leads to a parent folder of the monorepo package root) to an absolute path based on the project root folder name. This breaks tools like Jest since without further configuration sincre the

[2022-08-29 23:33] ljharb commented on #2451
hmm, i think i get what you mean. you're saying that because `npm-library`, which live in the monorepo, is symlinked into node_modules, the rule is autofixing the path to use the bare specifier?

While we could certainly handle symlinks and treat them differently, I'm not sure why you'd want that - if `npm-library/testConfig/utils` _is_ resolveable then that seems better.

This seems like a bug. t

[2022-08-29 23:35] #2313 closed

[2022-08-29 23:47] unleashit commented on #2451
Thanks for the quick reply! `npm-library` (not the most creative name I admit) is actually the name of the monorepo, so that's the top parent. It's also the name the fix used as the parent folder for the absolute pathname.

So npm-library doesn't live in the monorepo, it is the monorepo. The packages/apps are in a packages directory, and the tests are within the individual packages. Right under th

[2022-08-29 23:56] ljharb commented on #2451
Thanks, I'll keep it open, this seems like a pretty important bug to fix.

[2022-08-30 01:44] bradzacher opened #2538 "New rule: disallow empty named blocks"
Spinning this off of our discussion here https://github.com/import-js/eslint-plugin-import/pull/2473#discussion_r912304493

According to [the ES6 spec](https://262.ecma-international.org/6.0/#sec-imports) an empty named import block `import {} from 'mod'` is valid syntax:

[code]

Because it's valid - all ESLint parsers allow it for value imports.

Parsers that handle type-only imports (flow/herme

[2022-08-30 02:08] ljharb commented on #2538
That seems like a fine plan.

[2022-08-30 04:59] ljharb commented on #2340
See https://github.com/import-js/eslint-plugin-import/issues/2340#issuecomment-1002398962; whichever is the first rule to build the ExportMap will be the slowest.

[2022-08-30 05:19] ljharb commented on #2335
Actually I think this is a valid warning.

Essentially, for a specifier `Foo`, when a file `Foo` exists with matching casing, `Foo.js` will be ignored. Having a file named "FOO", then, means that on a case-insensitive filesystem, your import will grab FOO instead of Foo.js, and the linter warning is thus correct.

I'll add this test case - warning, as expected - to close the issue.

[2022-08-30 05:24] ljharb commented on #2335
oops, looks like indeed the test does fail to warn on a case-sensitive volume, so i'll use that to fix it.

[2022-08-31 20:58] bdwain commented on #1678
@ljharb this seems as simple as adding a config option that changes the behavior on this line https://github.com/import-js/eslint-plugin-import/blob/main/src/rules/no-extraneous-dependencies.js#L170

is that something you'd be open to if someone made a PR for it?

[2022-08-31 21:05] ljharb commented on #1678
@bdwain i agree that would work, but since eslint overrides make solving this problem as flexibly as you like, i'm not sure why it's better to add complexity to the plugin.

[2022-08-31 21:54] bdwain commented on #1678
@ljharb Can you explain in more detail how overrides solve the problem? Or give an example? I’m not really seeing it.

In my case at least (which I think is the original posters case) I want the import ordering rules (which are based on the internal regex) and the extraneous dep rules both to apply to all files. How can we add the internal regex setting and not add it for the same set of files?

I

[2022-09-01 06:57] kamil-basebuild opened #2539 "New release which includes the `distinctGroup` option in `order`"
I saw that the `distinctGroup` option has been added to `order` in commit [998655b1438c9718403ae876163b739c57f658ca](https://github.com/import-js/eslint-plugin-import/commit/998655b1438c9718403ae876163b739c57f658ca). I was wondering when a new release that includes this commit might be released, as it's critical to what I'm trying to achieve.

I set up a number of custom `pathGroups` for different

[2022-09-01 07:02] kamil-basebuild commented on #2539
Ideally it would be possible to specify whether a given `pathGroup` has an empty line after it or not, but I'm not sure how difficult something like this would be to achieve.

[2022-09-01 12:43] stenin-nikita commented on #2529
@ljharb When will a version with this fix be released?

[2022-09-01 17:38] ljharb commented on #2539
I think `distinctGroup` would handle that, without having to cover both "new line before" and "new line after".

Releases aren't done on any particular schedule.

[2022-09-01 17:38] #2539 closed

[2022-09-01 18:24] ljharb commented on #2529
Fixed by #2531.

Releases aren't done on a particular schedule, but hopefully soon.

[2022-09-01 18:24] #2529 closed

[2022-09-01 19:19] ljharb commented on #1678
This is certainly a confusing thread to try to page back in :-)

The point of `no-extraneous-dependencies` is to ensure that everything required/imported is explicitly listed in `package.json`. Each dependency "category" can be set to a boolean (allowed or forbidden), or, to an array of globs. The "array of globs" feature predates overrides, and we would not have added that feature if overrides ha

[2022-09-01 19:47] bdwain commented on #1678
@ljharb thanks for getting back so quickly. this would indeed solve my use case. and i think the boolean is fine vs an enum, but not 100% sure on all the types that we might encounter?

[2022-09-01 19:49] bdwain commented on #1678
im also happy to make a pr for this unless you were planning on it

[2022-09-01 19:50] ljharb commented on #1678
I'd love a PR once some of the others have confirmed it would work.

[2022-09-01 22:01] HughxDev commented on #496
@Shyam-Chen’s solution initially worked for me, but the issue presents again when upgrading to version 2.25.4 or higher. `eslint-import-resolver-alias` has not been updated for 4 years, so it is possible that a recent change in `eslint-plugin-import` broke compatibility between the two.

[2022-09-01 22:40] ljharb commented on #496
@HughxDev i'd love to get a reproducible test case so i can fix that, if so.

[2022-09-02 03:05] nicholass-alcidion commented on #1678
This sounds like it would work for what I am after

[2022-09-02 03:06] narthollis commented on #1678
Yeah, this sounds like it would work for me

[2022-09-02 03:38] bdwain commented on #1678
@ljharb separate thing i just noticed when looking at this code is that it explicitly ignores type imports. Is there a reason for that? I was thinking an option to enable checks on type imports would be nice too. i figure i could add that also while i'm at it.

[2022-09-02 12:30] andreafspeziale opened #2540 "[question] Enforce internal/parent import order with alias"
Hello!
I can't find a way to enforce import order to internal / parent using aliases. Maybe it is just not possible.

Example:

[code]

Set an alias in my `tsconfig.json`

[code]

In `fileC1.ts`

[code]

I would really love to be able to enforce the import from `B` (parent) to happen after import `A` (internal) but I'm not sure it is possible since I believe that `alias` would "hide" it.

Thanks i

[2022-09-02 17:09] ljharb commented on #2540
I'm unclear on what you're asking. Wouldn't folderA and folderB both be internal?

[2022-09-02 19:54] andreafspeziale commented on #2540
Maybe I'm just totally wrong but based on my understanding being in `fileC1.ts`, file `fileB1` is a parent and `fileA1.ts` is internal. So given a configuration like

[code]

I would like to enforce

`import { bar } from '@src/folderB/fileB1'` after `import { foo } from '@src/folderA/fileA1'`

With the above given config and (I believe) since I'm using alias the linter doesn't care about the order

[2022-09-02 20:23] ljharb commented on #2540
oh right, you're in fileC at that point. Yes, folderB would be a parent and folderA would be internal.

So what you're saying is, you WANT them to be sorted so that folderA comes first (because it's internal), but because it's using a TS alias, it's recognizing it as a parent?

Can you share your eslint config? Hopefully you're using the TS eslint resolver.

[2022-09-02 20:50] ljharb commented on #2205
@DamienCassou but you have `js/tests/**/*-tests.js` as "files that are OK not exporting anything", and that glob includes `js/tests/bar-tests.js`, so it seems like it's working correctly?

[2022-09-02 20:51] andreafspeziale commented on #2540
You got it! (btw I don't really know if it's `folderA` recognize as parent or is it viceversa - so it's `folderB` recognize as internal, what I know is that switching their order would not trigger any error)

`eslintrc.js`

[code]

[2022-09-02 20:54] ljharb commented on #2540
cc @JounQin if the TS resolver is reporting `@src/folderB/fileB1` as a parent instead of internal, there's not much the plugin can do, I think.

[2022-09-02 20:56] ljharb commented on #1678
@bdwain usually because TS checks type imports for you. Is there any way to actually know the package name types come from? I don't know if the TS parser provides that.

Let's look into that as a separate PR, just in case it's impossible :-)

[2022-09-02 20:59] bdwain commented on #1678
Sounds good! I’ll work on this one first. Thanks

[2022-09-02 21:10] mikestopcontinues commented on #1678
Yup, this'd be great! Thanks!

[2022-09-02 22:43] ljharb commented on #1678
3 out of 4's pretty good, let's roll :-)

[2022-09-03 06:16] boris-petrov commented on #2533
After updating `@typescript-eslint` packages to `5.36.1` the error is gone so I'll close the issue, thanks!

[2022-09-03 06:16] #2533 closed

[2022-09-03 06:17] ljharb commented on #2533
Glad to hear it!

[2022-09-03 06:54] bdwain commented on #1678
PR is up https://github.com/import-js/eslint-plugin-import/pull/2541

[2022-09-04 04:43] #1678 closed

[2022-09-04 05:07] bdwain opened #2542 "Verifying type imports"
This one is similar to #1678 I think, but I'm interested in making this an error for no-extraneous-dependencies

[code]

the situation where this comes up for me is in a monorepo with yarn workspaces, specifically for internal dependencies, but I guess I don't see why it needs to be limited to those. I have scenarios where I build some packages but not others, and that is determined by the package

[2022-09-04 05:20] ljharb commented on #2542
I agree that an option for this makes perfect sense.

[2022-09-04 05:20] ljharb commented on #2542
(obviously if we ever have a semver-major, we'd want to turn it on by default)

[2022-09-04 05:28] bdwain commented on #2542
great! I'll have a pr up soon

[2022-09-04 05:53] bdwain commented on #2542
#2543

[2022-09-05 14:09] szulcus opened #2545 "Make external package and internal components folder as a separate group"
I have this eslint configuration:
[code]
I would like all my imports of `@frontend/components` and ` ~/components/ **` to be treated as a separate group. How can I do this?

[2022-09-05 22:59] #2542 closed

[2022-09-06 14:15] DamienCassou commented on #2205
The problem isn't that bar-tests.js is not exporting anything, that is quite fine indeed. The problem is that bar-tests.js is never imported. I want to see an error indicating that bar-tests.js is unused.

[2022-09-07 04:58] #2339 closed

[2022-09-07 15:10] ljharb commented on #1084
Side-effecting imports often need to be run in specific orders, both before and after normal imports, so I don't think it makes sense to automatically lump together everything side-effecting.

[2022-09-07 16:18] szulcus commented on #2545
Of course. I want to have all the imports sorted by default, except for components which will always have a line before an empty one, and will be in `~/components/** ` or `@frontend/components`. For example:
![Zrzut ekranu 2022-09-07 181826](https://user-images.githubusercontent.com/48328739/188929136-5323400e-72ef-409e-b538-6860ab88c9c3.png)

[2022-09-07 16:44] ljharb commented on #2545
How come your pathGroups don't account for `~/**`, since those are all internal?

Regardling newlines, you may also be interested in the `pathGroups.distinctGroup` option added in #2395, that will be in the next release.

[2022-09-07 16:54] szulcus commented on #2545
I think I do not understand. Is it about something like that?
![image](https://user-images.githubusercontent.com/48328739/188935779-25277d7f-f02f-4479-8cff-3ae39c787d09.png)
If so, it still doesn't work 😅

[2022-09-07 17:10] ljharb commented on #2545
If you can provide a PR with a failing test case, I can likely solve it more quickly.

[2022-09-07 17:36] #2469 closed

[2022-09-08 03:01] Airkro commented on #2495
Try another resolver:
https://gist.github.com/danielweck/cd63af8e9a8b3492abacc312af9f28fd

[2022-09-08 07:41] szulcus commented on #2545
Unfortunately the project and package are reserved, but I don't see any reason to reproduce it. I just want to have all the components separate. In Vue 3, in the `<script setup>` tag, there is no need to define the components, so I want to have them all in one place.

[2022-09-08 17:19] ljharb commented on #2545
@szulcus the reason is that without a reproduction case or regression tests, it can never be fixed - especially since I don't use Vue myself, so I'd have no idea how to set up a test case.

[2022-09-09 12:49] silverwind commented on #2331
I made a repro for this issue: https://github.com/silverwind/import-got

[code]

It seems there is a unresolvable situation where the package authors indirectly [blames](https://github.com/sindresorhus/got/releases/tag/v12.0.0) this module:

But https://github.com/import-js/eslint-plugin-import/issues/2331#issuecomment-997417550 blames the module, so we come full cycle.

Is there any resolution in

[2022-09-09 13:03] jsg2021 commented on #2331
[that comment](https://github.com/import-js/eslint-plugin-import/issues/2331#issuecomment-997417550) answered your question? Pure esm packages do not need this rule. Turn it off?

[2022-09-09 14:08] jsg2021 commented on #2331
idk, but inspecting `got`... it has no "main" entry point (commonjs) and only an "exports" entry (esm) and no alt ("module"/"es:next"/etc) entry points... and the linked comment suggests the resolution algorithm only works for those commonjs/alt entry points. 🤷 just my understanding... i'm not a maintainer, just another user like you.

[2022-09-09 14:12] silverwind commented on #2331
Just guessing, but maybe it's because `got` has no `index.js`. For example another pure ESM module, https://github.com/sindresorhus/is-ip, is resolved fine by this plugin and it has a `index.js`.

[2022-09-09 14:39] JounQin commented on #2331
So it's still related to `exports` field support, right?

[2022-09-09 14:49] silverwind commented on #2331
Yes, ultimately, the issue is that `eslint-plugin-import` does not seem to parse `exports`.

Interestingly, `require.resolve` which should be a CJS mechanism is till able to resolve the package correctly:

[code]

Maybe `eslint-plugin-import` should just use `require.resolve` to fix this issue.

[2022-09-09 15:01] ljharb commented on #2331
Again, ESM-only packages are the problem - this plugin supports *transpiled* ESM, and not native ESM. is-ip *seems* to work because the index.js and lack of main means pre-exports node would try and fail to load that file.

When `resolve` gains support for “exports”, it will support native ESM too.

[2022-09-09 15:07] silverwind commented on #2331
For some cases like a default import, it might be enough to just see if the request resolves to a file, without actually parsing it.

I'm pretty sure there is some bug in [resolve.js](https://github.com/import-js/eslint-plugin-import/blob/main/utils/resolve.js) where the code path does not end up in `require.resolve` with which it may have worked, but I think I'll just wait for actual ESM support

[2022-09-09 15:12] ljharb commented on #2331
It is a very explicit and intentional choice to avoid using the built-in require.resolve.

[2022-09-10 23:32] MichaelDeBoey opened #2548 "Invitation to move to official `eslint-community` org"
It's up to you —@ljharb—, but if you'd like, you're welcome to transfer this repository to the official [`@eslint-community` organization on GitHub](https://github.com/eslint-community).

As you can read in [the '`@eslint-community` GitHub organization' RFC](https://github.com/eslint/rfcs/tree/main/designs/2022-community-eslint-org), the goal of this new org is to have a place where community memb

[2022-09-11 00:01] ljharb commented on #2548
https://github.com/jsx-eslint/jsx-ast-utils/issues/121

[2022-09-11 16:13] ljharb commented on #2548
See https://github.com/jsx-eslint/jsx-ast-utils/issues/121#issuecomment-1242995999

[2022-09-11 16:13] #2548 closed

[2022-09-12 16:45] theVatsal-eth commented on #2502
This is happening with enums as well
![Screenshot from 2022-09-12 21-29-58](https://user-images.githubusercontent.com/95976661/189710277-cf548a28-633f-4abc-9aa9-fe8116d95e94.png)

and the 'livestream' is another app in our monorepo.

Do you have a solution for this?

[2022-09-13 15:26] akira-toriyama opened #2549 "`no-restricted-paths` Specify extension"
Thank you for your wonderful library.

---

I want to target only `.tsx`.
I do not want to target `.test.tsx`.

[code]

## Documents reviewed
- https://github.com/import-js/eslint-plugin-import/blob/v2.26.0/docs/rules/no-restricted-paths.md

I could have done it better if I'd used `!`. I did not understand.

[2022-09-13 15:35] ljharb commented on #2549
A file extension is only the part after the last dot - .test.tsx is just a tsx file.

I suggest using eslint overrides for this.

[2022-09-13 17:24] szulcus commented on #2545
I still think it's a pattern bug and doesn't require reproduction, but if you really need it, I created it for you:
[Nuxt Bridge ESLint import order reproduction.zip](https://github.com/import-js/eslint-plugin-import/files/9559343/Nuxt.Bridge.ESLint.import.order.reproduction.zip)

[code]

File path: `~/pages/index.vue`
Environment: Visual Studio Code + Volar extension

![image](https://user-images

[2022-09-14 01:41] akira-toriyama commented on #2549
`overrides` is the expected behavior.
Thank you very much.

[code]

[2022-09-14 01:41] #2549 closed

[2022-09-14 19:43] richgigapay opened #2550 "[Question] Help structuring imports"
Hello, this is more of a question as I have tried multiple ways to get the below structure working. Any tips?

.eslint.js

[code]

I would like the below ordering strucutre:

[code]

[2022-09-17 01:38] michaelrivet opened #2551 "[Suggestion]: `import/no-restricted-paths` allow exception for dynamic imports"
## Suggestion

For the `import/no-restricted-paths` it would be nice to allow a rule or zone to have exceptions for dynamic imports.

## Reasoning

I am working on using `import/no-restricted-paths` to build clear boundaries in a react web-application. As it stands I can handle probably 95% of what I'm trying to achieve, but there are some instances where I need to cross these boundaries. I do so

[2022-09-17 15:35] divStar commented on #1415
Excuse me for asking, but do the restrictions (especially the ones for `eslint-import-plugin`) from https://github.com/sveltejs/eslint-plugin-svelte3/blob/master/OTHER_PLUGINS.md#eslint-plugin-import **still apply**? I ask, because `import/no-unresolved` still throws errors where I wouldn't expect any (because the application actually works and uses the imports successfully).

[2022-09-17 17:49] ljharb commented on #1415
If not, please file a new issue - note you may need a svelte-specific import resolver.

[2022-09-18 14:18] ronparkdev opened #2553 "[Suggestion]: `import/named-order` : Enforce to sort specifiers of import, export, require"
Sorry, It was my first time posting a PR, so I didn't know that I had to create an issue first.

I experienced a significant decrease in readability as the number of specifiers increased in the named import. So, I made this rule.

I already add a rule to PR https://github.com/import-js/eslint-plugin-import/pull/2552

[2022-09-18 14:18] ronparkdev commented on #2553
# import/named-order

Enforce a convention in the order of `import` / `export` / `require()` specifiers
+(fixable) The `--fix` option on the [command line] automatically fixes problems reported by this rule.

## Rule Details

The following patterns are valid:

[code]

[code]

[code]

The following patterns are invalid:

[code]

[code]

[code]

### Options

#### `esmodule`
This option enables repor

[2022-09-18 14:23] JounQin commented on #2553
I don't think two options like `esmodule/commonjs` are needed like any other rules. Why should they be different?

[2022-09-18 14:49] ronparkdev commented on #2553
The name is weird when I look at it again. I want to control that applying or not of import, export, and require with esmodule/commonjs options.

In general, it may be an unnecessary option, but I guess that it is necessary to have an option to not apply import or export or require for some environment.

So I think there should be an option like below.

### Options
* `import` : apply lint to speci

[2022-09-18 14:56] JounQin commented on #2553
Any real usage case?

[2022-09-18 15:24] ljharb commented on #2553
I would assume ordering should apply to either/both imports and exports, configurably.

I’m still not clear on the benefit here. Forced sorting doesn’t have any impact on merge conflicts, and there shouldn’t *be* so many different things exported by one file anyways.

[2022-09-18 15:34] JounQin commented on #2553
@ljharb

It does IMO.

For instance:

[code]

If two users want to add `BehaviorSubject`, with this rule, we can guarantee the final result is consistent without conflicts.

But without this rule, the two users can have different results:

[code]

vs

[code]

That's `rxjs`'s or any library's choice, this is just valid and good for tree shaking already.

[2022-09-18 15:40] ljharb commented on #2553
I see what you mean - it doesn’t impact merge conflicts (it may even increase them) but it does prevent duplication conflicts.

[2022-09-18 15:41] ljharb commented on #2553
No, that’s not good for treeshaking - treeshaking can only ever be a half-assed attempt to delete unused code. The best thing for bundle size is *always* maximally granular deep imports, which does a much better job than treeshaking can, due to the nature of the JS language.

So no, it’s not a valid or a beneficial choice, although it certainly is *a* choice.

[2022-09-18 15:50] JounQin commented on #2553
@ljharb

I'm not quite sure to understand why it may even increase merge conflicts by consistently sorting?

[code]

vs

[code]

I'd prefer the first one. 😂 (Although this is not the key point for this rule here.)

[2022-09-18 16:02] ronparkdev commented on #2553
When importing an external library, I think it is a good direction to import it separately for tree shaking.

However, tree shaking is often unnecessary in internal code.

In my case, there are more than 20 specifiers of import and If this is not aligned, it will decrease readability (it cannot be shared because it is an internal code of my company).

[code]
https://github.com/reduxjs/redux-toolki

[2022-09-18 16:53] ljharb commented on #2553
@JounQin it increases merge conflicts because you can’t add items at arbitrary locations, so any changes to anything that’s an alphabetical neighbor will conflict with your change. As for the two options, the second is objectively superior even if you think it’s aesthetically worse, and aesthetics is much less important than bundle size/memory footprint as well as conceptual cleanliness.

[2022-09-18 16:54] ljharb commented on #2553
@ronparkdev treeshaking is only ever necessary when you import from a file that exports more than you need, internal or otherwise. Why are all 20 of those types coming from the same file?

[2022-09-18 23:14] ronparkdev commented on #2553
@ljharb It's an off-the-topic part of this discussion, It seems that a lot of interfaces or types are imported when the data model is deep and the business logic is complex in the typescript environment.

[2022-09-18 23:23] ronparkdev commented on #2553
@JounQin I thought about it, but it seems unnecessary to provide as options. Even if there are some code in which the rule should not be used, it is likely to use `eslint-disable-next-line`.

[2022-09-19 04:53] ljharb commented on #2553
@ronparkdev I don't think it's off topic - if it's indeed a bad practice to have so many named imports (such that ordering is required), then there's no benefit in making a rule to deal with a case you shouldn't be experiencing in the first place.

[2022-09-19 05:10] JounQin commented on #2553
You can't convince all library authors to agree with this statement. And which practice is better depends on the authors' and end users' preferences, IMO.

[code]

This is how `rxjs` works, and in the `rxjs/operators` entry will be removed in favor of `rxjs` entry even further.

[2022-09-19 05:33] ljharb commented on #2553
That's totally fair that I can't convince every library author not to do something bad.

CJS only has default exports, so it seems like the `sort-keys` core eslint rule would cover destructured CJS requires, no?

[2022-09-19 08:51] JounQin commented on #2553
@ljharb

`sort-keys` is not auto-fixable, and has been frozen as stylistic rule. See https://github.com/eslint/eslint/issues/16167#issuecomment-1199880245

[2022-09-19 13:10] sofianegargouri opened #2554 "Option `ignoreImports` for `import/no-unused-modules`"
I'm currently using the rule `import/no-unused-modules` to find dead code and eliminate it.

In my current stack, I'm using [Storybook](https://storybook.js.org/) to document my components.

I can remove the warnings of the unused imports of my story with the `ignoreExports` option of the `import/no-unused-modules`.

My problem today is that I have some components that are not used in my app anymo

[2022-09-19 13:50] tmtron commented on #1118
Thanks for that comment. I didn't know that **ignore** can also be used per rule. When reading the docs, I saw the [ignore option](https://github.com/import-js/eslint-plugin-import#importignore), but thought that it can only be used on the plugin level: i.e. that it affects all import-rules.
I think this should be mentioned in the docs explicitly and also the [no-relative-parent-imports](https://g

[2022-09-20 03:22] ronparkdev commented on #2553
@ljharb, I totally agree that a log of named imports are a bad practice. But, many developers try to match the order of named import, but type can not match it every times. That's why I thought of this rule to use in this case.

Linke the case below. I can find more cases if you want to know 👀

[code]
https://github.com/reduxjs/redux-toolkit/blob/db0d7dc20939b62f8c59631cc030575b78642296/packages/t

[2022-09-20 08:31] tmtron commented on #2467
@ljharb I also think that internal modules should  be ignored.

But maybe it's just a misunderstanding, as I am not sure what "internal" means in this context.
So I'll try to explain what I think that the terms mean to me.

I have created a minimal nx monorepo  on GitHub to illustrate the issue: [GitHub lint-test](https://github.com/tmtron/lint-test).

* **external**: listed in [package.json](http

[2022-09-21 06:11] richgigapay commented on #2550
Anyone have any ideas about the above?

[2022-09-21 15:15] Lockon2000 opened #2555 "no-internal-modules prevents non-javascript imports within module internals"
So, I have the following configuration in my .eslintrc.js
[code]
This prevents any imports from within MyFeature folder except when I am inside the MyFolder.

The problem is, when I try to import a scss file in one of my javascript files (I use CSS Modules through Webpack), like so:
[code]
then I get an error saying I am reaching within the module although I am inside it:
ESLint: Reaching to "./Pr

[2022-09-22 02:47] BrightLin commented on #2320
The same.
see https://github.com/typescript-eslint/typescript-eslint/issues/4248

[2022-09-22 22:22] JounQin commented on #2540
@ljharb Sorry I didn't notice the mention previously, but I'm not quite sure to understand why it's related to the TS resolver, does it resolve a incorrect absolute path?

[2022-09-22 22:33] ljharb commented on #2540
I'm not certain, but it _seems_ like it's resolving it as a relative path (a parent) rather than a bare specifier (in node_modules).

[2022-09-22 22:39] JounQin commented on #2540
@ljharb

I'm still confused, it's using TS alias, and `@src` is not a bare specifier (in node_modules).

Besides, @andreafspeziale can you please provide a minimal reproduction?

[2022-09-22 22:42] ljharb commented on #2540
Right, but a TS alias should still report as if it's `npm link`ed in, i assume?

[2022-09-22 22:56] JounQin commented on #2540
@andreafspeziale Can you try `DEBUG=eslint-import-resolver-typescript` first to see what absolute paths are resolved?

@ljharb I don't think that's possible, ts resolver return absolute paths, it's not `npm link`ed, is it?

[2022-09-23 04:46] lewxdev commented on #2539
@kamil-basebuild Can you share the rest of your config and version number for this plugin? For my use case, I'm actually trying to separate out the groups exactly like that but it's no longer enforcing the rule

[2022-09-23 15:44] ljharb commented on #2335
@jimmymeraki right - on your system it's correct, but on a case INSENSITIVE system, i think it would resolve to OWNERS.

[2022-09-24 19:46] andreafspeziale commented on #2540
@JounQin Sure I'll try to ship a sample ASAP

[2022-09-24 21:06] andreafspeziale commented on #2540
@JounQin @ljharb As promised.
https://github.com/andreafspeziale/eslint-issue-sample

So we can also be sure that the issue is not me messing-up something or just not understanding that it's simply not possible since `aliases` are "flattening" everything ^^

[2022-09-25 00:48] TomerAberbach opened #2556 "[Feature Request] Support new ESLint flat config"
ESLint has a [new experimental config file format](https://eslint.org/docs/latest/user-guide/configuring/configuration-files-new) and this plugin doesn't work with it. The plugin fails at [this line](https://github.com/import-js/eslint-plugin-import/blob/main/utils/parse.js#L60) because the new config format doesn't pass parsers via paths. Instead the [parser object itself is passed](https://eslin

[2022-09-26 17:32] liamjsc commented on #2405
Facing a similar issue here, I've tried each of the solutions above and no resolution. nextjs + typescript + eslint
typescript compiles fine, but eslint throws errors like:
[code]

My repo is set up like
[code]

relevant tsconfig.json:
[code]

and .eslintrc.json
[code]

Anything look off here? Thanks

[2022-09-26 17:35] ljharb commented on #2405
@liamjsc yes, you're missing the `import/extensions` setting, which would need to include `.ts`.

[2022-09-26 17:53] CloudLooks commented on #2405
@ljharb thank you! eslint passes now.

Still trying to configure vscode to:
1. Stop complaining about this syntax. `import { baseApiURL } from 'config'` has 'config' red underlined, and "problems" includes ts(2307)
<img width="261" alt="Screen Shot 2022-09-26 at 10 49 41 AM" src="https://user-images.githubusercontent.com/99063434/192346509-fbc1d19d-cd32-461a-bbd3-862223cdf481.png">

2. "quick fix"

[2022-09-26 17:56] liamjsc commented on #2405
@ljharb thank you! eslint passes now.

Still trying to configure vscode to:

1. Stop complaining about this syntax. import { baseApiURL } from 'config' has 'config' red underlined, and "problems" includes ts(2307)
<img width="261" alt="Screen Shot 2022-09-26 at 10 49 41 AM" src="https://user-images.githubusercontent.com/12700715/192346958-561d542b-240f-41ec-b6d7-5d50ddd4f3e6.png">

2. "quick fix"

[2022-09-26 22:17] ljharb commented on #2335
Interesting, hmm 👀

[2022-09-26 23:29] JounQin commented on #2405
@liamjsc You may need to reload VSCode.

[2022-09-27 09:54] kopax-polyconseil commented on #2400
I just openede a pull request, should be improved with global, help is welcomed.

[2022-09-27 13:33] SalahAdDin commented on #2405
@liamjsc did you try this?

[2022-09-27 13:38] liamjsc commented on #2405
@JounQin @SalahAdDin yes, unplug it and plug it back in 😮‍💨

Thanks for the followup

[2022-09-28 11:05] Anshshah-1609 commented on #1982
same for me doesn't work this type of rules
'import/order': [
      'error',
      {
        pathGroups: [
          {
            pattern: '~/**',
            group: 'external',
            position: 'before',
          },
          {
            pattern: '~/src/logger/**',
            group: 'internal',
          },
          {
            pattern: '~/src/config/**',
            group: 'internal

[2022-09-28 18:17] dreyks opened #2558 "eslint-import-resolver-webpack does not support "..." expansion"
When merging configs webpack allows special `...` entry that means "merge with defaults". For example, as seen [here](https://webpack.js.org/configuration/resolve/#resolveextensions) it's possible to write the following webpack config
[code]

to get TS file resolution in addition to all the default extensions webpack support (['.js', '.json', '.wasm']) without manually specifying them

this, unfor

[2022-09-28 19:17] dreyks commented on #2558
I have patched it locally with the following patch

[code]

if this is something we want in general I can come up with a proper PR

[2022-09-29 06:17] ljharb commented on #2558
Seems reasonable, yes - which versions of webpack support that syntax?

[2022-09-29 09:32] dreyks commented on #2558
i think it's only 5+ because [docs for v4](https://v4.webpack.js.org/configuration/resolve/#resolveextensions) don't mention this

[2022-09-29 15:08] ljharb commented on #2558
Then we need to be sure it’s only supported when using webpack 5

[2022-09-29 15:18] dreyks commented on #2558
ok, I'll give it a try

[2022-10-02 12:59] abdennourzahaf opened #2559 "Using import/no-unused-modules in a monorepo"
Hi!
I have a monorepo with 3 packages:

1. `shared/`
2. `frontend/`
3. `backend/`

If `shared/file.ts` exports a member that's not used in `shared` itself but used in `backend` or `frontend`, `import/no-unused-modules` will report it as unused when running yarn lint inside `shared`.
[code]

[code]

How can I make the config aware of the usage of `hello` inside `frontend`?
Thank you in advance!

[2022-10-03 02:37] hyperupcall commented on #1746
Just an FYI if someone is searching for a solution, this was partially fixed in #2395. The `distinctGroup` determines whether or not newlines should automatically be generated. I initially tried to implement setting for each individual group (within `pathGroup`), but I found that to be much less intuitive and harder to use, which is why in the PR, it affects all defined groups.

[2022-10-04 09:26] lachrist opened #2562 "Support query parameters in `import/no-unresolved`"
Passing parameters to a module can be done via the import url -- cf: https://flaming.codes/en/posts/es6-import-with-parameters. So `import "./lib.mjs?foo=bar` will cause node to load `./lib.mjs` but it will be flagged by the `import/no-unresolved` rule because the file `./lib.mjs?foo=bar` does not exist.

[2022-10-04 17:18] ljharb commented on #2562
This plugin currently does not yet support native ESM, and node does *not* support query parameters in transpiled ESM.

It's a good idea regardless to never use a query string in a specifier URL, but either way, this plugin will support it once `resolve` supports ESM.

[2022-10-04 17:18] #2562 closed

[2022-10-05 11:31] egrekov opened #2563 "import text!templates/template.html -> ESLint unable resolve path"
There are imports in .js
[code]
Configure ESLint like this:
[code]
Nothing works with the templates, the error does not disappear, maybe you can also tweak something to make the text! did it resolve?
Thanks in advance.

[2022-10-05 12:08] #2563 closed

[2022-10-05 13:58] ljharb commented on #2563
The ! syntax is webpack-specific nonstandard stuff; you need the webpack resolver to handle it.

[2022-10-05 14:43] egrekov commented on #2563
I solved it this way, thanks
[code]

[2022-10-05 20:05] brycekunkel commented on #1258
@linvain / @ljharb , I know this is closed, but before I file a new issue, is there a way to acknowledge that environment variables exist, but not set their value? Maybe I'm misunderstanding how to use that config. My complex webpack setup allows the user to pass in additional options on the command line, but it throws all kinds of errors as were mentioned in the beginning of this issue.

[2022-10-06 08:54] vincenthend commented on #2486
Hi, we have a similar requirement where we need to allow whitelisting some dependencies.

We are currently implementing a microfrontend architecture. Our current architecture looks like below

For local development purpose, each sub application already got the dependencies (e.g. react) from the host application's main package.

If we decided to add the dependencies to each application

[2022-10-06 20:43] #2486 closed

[2022-10-06 21:01] ljharb commented on #1258
I think that you might need to have a JS-based config that *reads* those command-line values :-/

[2022-10-07 12:55] markchagers commented on #1532
I'm seeing this with the ngMocks library.
When I put this line at the top of a test suite:
[code]
the line is flagged as deprecated. However, the [scope function](https://github.com/help-me-mom/ng-mocks/blob/ef5f40a6743f0c767fba9e86ce13a7deca5bf8d4/libs/ng-mocks/src/lib/mock-instance/mock-instance.ts#L282) is not deprecated at all, just [some other overload](https://github.com/help-me-mom/ng-mocks

[2022-10-07 13:11] jonasbjoralt opened #2564 "no-restricted-paths doesn't work"
Hi, I have the following structure:

[code]

And the following rule in `.eslintrs.js`:
[code]

However, this import from `src/` which should give an error doesn't:
[code]

Any ideas?

[2022-10-07 21:36] ljharb commented on #2564
Can you share a repro repo?

(also is it eslintrs or eslintrc)

[2022-10-08 12:42] carpben opened #2565 "Feature Suggestion: Folder encapsulation determined by `index/exports.js`"
## The problem
A popular pattern is to include an `index.js` in the folder, that re-exports entities from the folder. The developer declares which entities he would like to expose out of that folder. But in practice this intention isn't enforced, and `index.js` doesn't create encapsulation. Objects that are exported from another file in the folder could be imported in the entire project. Objects t

[2022-10-08 15:39] ljharb commented on #2565
A single "manifest" or "barrel" export file as you describe is indeed a common pattern, but it's a very harmful one that forces the need for treeshaking. (Separately, I've never seen "exports.js" before, only "index.js")

Things should always be deep-imported from the most granular file possible, and re-exports should be avoided. Encapsulation should (only) be achieved by extracting things to pack

[2022-10-08 16:02] carpben commented on #2565
@ljharb I didn't quite get the treeshaking argument.
- If there will not be reexports there will not be a need for treeshaking?
- What do we care if there is tree-shaking?

[2022-10-08 16:06] ljharb commented on #2565
Treeshaking is only needed when you import more than you need in the first place, because without treeshaking, your bundle size and/or application's memory footprint is needlessly larger.

Treeshaking, however, due to the nature of JS, can't ever do as good a job as "only importing what you need in the first place". So, an imperfect build step is entirely unnecessary if you simply don't "import fr

[2022-10-08 16:17] carpben commented on #2565
If we take this argument seriously, we should also avoid reexports in index.js package's, and instead have dedicated paths for exports.
So instead
[code]
We'd
[code]
Your argument seems just as valid in this case.

[2022-10-08 16:21] ljharb commented on #2565
Yes, that is exactly right, and that is the same best practice for packages. Deep imports are the way to go; the "main" should only ideally have one thing in it, and not a bag of things.

[2022-10-08 20:04] theScottyJam commented on #2565
Treeshaking isn't needed by every consumer of JavaScript. Some examples of where it's not needed, or where it's less important include:
* Libraries that can only work on the server-side
* CLI tools
* libraries with a small public API. For example, a userland RegExpr library has a small API surface area (there's only a RegExp constructor, and maybe a couple of utility methods/functions), but has a

[2022-10-08 20:35] ljharb commented on #2565
On the serverside or as a CLI, it's about application memory footprint - the cost is paid everywhere.

[2022-10-08 20:36] ljharb commented on #2565
I don't see how class syntax is an issue; if you're using a class, then by definition no parts of it are separable, otherwise you wouldn't be smooshing them all into the same class.

[2022-10-09 05:34] jordanbtucker commented on #1590
Just checking to see if there's an ETA for this fix to land in a release.

[2022-10-09 07:17] theScottyJam commented on #2565
All public methods on a class are related to the data encapsulated by the class, but that doesn't mean the consumer depends on the entire public API. I, for example, might use a third-party Map class, but only use the constructor, `.get()`, and `.set()` methods. Everything else the class provides could be tossed, and my code would still function exactly the same way.

To make a class more tree-sha

[2022-10-09 14:44] carpben commented on #2565
@ljharb, let's say you import only what you need:

[code]

In this case `someFunction` is imported directly from the file where it was declared. But, as often is the case, `someFile` has other JS entities as well. Isn't it the case that the entire file will be added to the bundle, and parsed by the runner?
What I'm trying to show here, is that even when we use ` deep-imported`, and import an entit

[2022-10-09 15:34] ljharb commented on #1590
No, there’s no timeline for releases.

[2022-10-09 15:35] ljharb commented on #2565
That shouldn’t *be* the case :-) someFile should only have one thing in it, to ensure that nothing unnecessary is evaluated when importing that thing.

[2022-10-09 15:56] carpben commented on #2565
@ljharb you are talking about a reality of very small files. It's a common practice to bunch small entities together in files according to domain.
According to this approach, if we never want to import the unnecessary, we'll have many one line files.
Imagine a const
[code]
This will be in it's own file for the sake of not importing anything that is unnecessary.

I'm not sure if minimizing bundle s

[2022-10-09 16:34] ljharb commented on #2565
Common doesn’t mean good. Folders, not files, are the proper way to group related things.

[2022-10-09 17:07] carpben commented on #2565
I'm trying to understand what it means.
It basically means that each module should only have one export.
Instead of a module with a few functions, each function should have it's own module.
It might actually harm encapsulation, because those functions might use another function which could be hidden from the rest of the application. Now we need to export that function as well.

[2022-10-09 17:09] ljharb commented on #2565
Yes, that's exactly right, and no, it doesn't harm encapsulation, since "packages" and "closures", not "files", are the only encapsulation layer that's important.

[2022-10-09 17:14] carpben commented on #2565
I guess this approach is doable in the era of monorepos.

[2022-10-09 17:48] ljharb commented on #2565
Exactly! You can’t have encapsulation with one monolithic codebase unless it’s split into separate packages - which can use the exports field.

[2022-10-09 19:23] ljharb commented on #2556
If there's a way to support both configs at the same time, a PR would be appreciated.

[2022-10-10 14:00] guilhermelimak commented on #2538
Im working on this issue

[2022-10-10 14:28] ljharb commented on #2565
They’re absolutely related to better code quality - things that are maximally separate are easier to understand and maintain.

[2022-10-10 15:59] bvallee-thefork opened #2566 "[Feature request] Support `peerDependenciesMeta` in `import/no-extraneous-dependencies`"
# Feature request

Supporting the `peerDependenciesMeta => optional` flag in `import/no-extraneous-dependencies`

# Context

With npm >= 7:

- Now [officially supporting / documenting the `peerDependenciesMeta` field](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#peerdependenciesmeta),
- Installing the (non-optional) `peerDependencies` by default.

It would to be nice to be able to ha

[2022-10-10 19:26] ljharb commented on #2566
Installed by default doesn’t mean they shouldn’t still always be explicit - npm 7+ also won’t *always* install them by default, only when it’s possible to figure out the right ones.

I agree it would be interesting to warn when optional deps are unconditionally required/imported, but that almost feels like a separate rule.

[2022-10-10 19:28] lachrist commented on #2562
Hi @ljharb, thanks for your answer. If you have time, could clarify two points?

Are you saying that `eslint-plugin-import` relies on a transpiler to transform esm modules into commonjs modules? And since commonjs modules cannot be imported with query parameters, making `eslint-plugin-import` support query parameters is hard?

Could you explain why?

[2022-10-10 20:26] ljharb commented on #2562
I’m saying that eslint-plugin-import still expects a world where all ESM is transpiled into CJS.

Sure - a query string suggests that you could get a different module from what conceptually would be expected to be the same specifier. Modules aren’t supposed to be dynamic, they’re supposed to be static.

[2022-10-11 04:08] theScottyJam commented on #2565
As with any principle, I would assume that there should be a balance to this, no?

A major part of programming is organization. If a function feels bloated and cluttered, split it up into multiple functions, but note that it'll make the overall module feel more cluttered. And it's true that splitting a module up into a folder of single-function modules would certainly help make the contents of the

[2022-10-11 04:17] ljharb commented on #2565
While I agree there's no objective hard line, in practice I've found that stating "one function per file by default, except where you disagree" leads to a much better outcome than "it's totally fine to put a bunch of crap in one file".

In other words, principles are most effective when they're phrased strongly enough that newcomers err on the side of the most fixable mistakes, and veterans who de

[2022-10-11 07:54] h0adp0re opened #2567 "Definition for rule 'import/consistent-type-specifier-style' was not found in 2.26.0"
Hello! I had this error when using the latest version (`2.26.0`) of your package:
[code]
After checking `node_modules`, the rule was indeed not even mentioned anywhere inside the package. What gives?

[2022-10-11 09:31] lachrist commented on #2562
Oke, thanks for your time!

[2022-10-11 10:07] bvallee-thefork commented on #2566
When looking at the options, it seems that the `peerDependencies` (range) + `devDependencies` (fixed) pattern is what works the most reliably for us with npm@8 (and looking around, I've seen this pattern used by some open source frameworks too like nestjs and nextjs).

As:
- parent `dependencies: 6.0.7`, child `dependencies: 6.0.5, peerDependencies: 6.x` will resolve into two different versions (n

[2022-10-11 12:57] simmo commented on #2567
@h0adp0re I was wondering the same but it is marked as Unreleased currently in the changelog - https://github.com/import-js/eslint-plugin-import/blob/main/CHANGELOG.md#unreleased

[2022-10-11 12:59] h0adp0re commented on #2567
Good catch. The latest release according to their GH releases is `2.25.2`. Yet, I'm able to access `2.26.0` via npm. That is confusing if `2.26.0` shouldn't be available yet.

[2022-10-11 16:26] ljharb commented on #2567
Everywhere on Github, you need to look at the docs for the tagged version you're using, and not those on master/main.

There's no explicit schedule for releases, nor any blockers. It will be released when I have the time both to do the release, and also to field any bug reports that come in after it's published.

[2022-10-11 16:26] #2567 closed

[2022-10-11 17:47] m-nathani commented on #563
Hii, i still gettings error on import... where as i have a file in FeatureFlag/index.tsx

[code]

with eslintrc has this rule too

[code]

does anyone know how to resolve it ?

[2022-10-11 19:26] h0adp0re commented on #2567
Understood. That's a good point about only looking at the tagged version I'm using, I have not paid any mind to that in the past!

Thanks for replying and explaining.

[2022-10-11 21:02] GollyJer commented on #920
@benmosher, I'm running into this issue today and already have TS Resolver set up.

<img width=600 src=https://user-images.githubusercontent.com/689204/195196830-c1d9e5bb-d2aa-45c9-87c0-4030d1286ad0.png />

I did as much reading in this repo as possible on the issue and understand that @ljharb does not like barrel files as specified here.
https://github.com/import-js/eslint-plugin-import/issues/24

[2022-10-11 22:10] ljharb commented on #920
@GollyJer no, my opinion on reexports being harmful doesn't change that it's a language feature this plugin needs to support regardless.

A PR to fix it is welcome.

[2022-10-11 22:11] ljharb commented on #563
@m-nathani do you have a `FeatureFlag.something` file as well? or just a `FeatureFlag` dir with an index file inside it?

[2022-10-11 22:19] m-nathani commented on #563
Just index .. nothing else

[2022-10-11 22:39] benmosher commented on #920
Came here to basically say this again two years later: https://github.com/import-js/eslint-plugin-import/issues/920#issuecomment-491247670

I definitely remember making this work so if 2019 me is right it might be a transitive resolution issue, e.g. maybe the transitive resolution is using the resolver config from c.js to resolve a from b, instead of b’s relevant resolution config.

Regardless, ag

[2022-10-11 22:49] ljharb commented on #563
@m-nathani a repro repo on a new issue would be helpful; that shouldn't be warning. Do make sure that you have the import/extensions *setting* defined also to include `tsx`.

[2022-10-11 23:13] ljharb commented on #2566
Typically I actually have all my peerDeps *identically* in devDeps - ie, a range in both. That way, when I do the responsible thing and test every version included in the range, the dep graph is always valid.

[2022-10-13 07:39] DetachHead opened #2569 "Rule proposal: ban importing `.ts` files from packages in `node_modules` when compiled `d.ts` & `.js` files are available"
originally raised at https://github.com/typescript-eslint/typescript-eslint/issues/5815

[2022-10-13 13:59] ljharb commented on #2569
Since nobody would do it, on purpose or by accident, if the IDE didn’t suggest it, it seems like that might be the best first attempt to address this?

[2022-10-14 07:09] Valen-Pony opened #2571 "New release version"
The latest version in npm is 2.26.0, which is released 6 monthes ago and many new featrues in the readme is not released.
When will new release be published?

[2022-10-14 09:30] brupelo opened #2572 "`error '...' not found in imported namespace '...' import/namespace` when using `export * from file.jsx`"
Consider this:

[code]

**baz.jsx**

[code]
**qux.jsx**

[code]
**index.js**

[code]

**foo.js**

[code]

When I try to lint this folder eslint-plugin-import will report:

[code]

The error is coming from https://github.com/import-js/eslint-plugin-import/blob/4bfe644ec697d0a4fe0227e5ff09b869650eb35f/src/rules/namespace.js#L134-L140

Isn't this a bug? Running react apps when using statements such a

[2022-10-14 20:07] ljharb commented on #2571
There's no timeline for releases. Check documentation for the tagged release you're using instead of master/main.

Duplicate of #2539. Duplicate of #2567.

[2022-10-14 20:07] #2571 closed

[2022-10-16 10:13] Visual-Dawg opened #2573 "pathGroups ignores type sorting"
How can I have `pathGroups` for my `import aliases`, while still having the `type` imports of the `aliases` sorted to the bottom?
The aliases in this example are `@/` and `@appName-*/`.

Basically I have this now:
[code]

But I want something like this, where the `type` imports do not mix with the others:
[code]

Here are my rules:

[code]

[2022-10-17 08:47] brupelo commented on #2572
@ljharb I totally agree with you, for more reference let's consider [https://tc39.es/proposal-export-ns-from/](https://tc39.es/proposal-export-ns-from/) , thanks for looking into this one!

[2022-10-17 16:30] #2538 closed

[2022-10-17 17:52] ljharb commented on #2572
That proposal is still stage 1, so I'd hope nobody's using it yet.

[2022-10-17 19:21] brupelo commented on #2572
You're right, the previous link was a diff against this one [https://262.ecma-international.org/6.0/#sec-exports](https://262.ecma-international.org/6.0/#sec-exports) If I'm not mistaken.

[2022-10-18 05:15] rmarkins-godaddy commented on #2430
@ljharb Do we have an idea on when this will be added to this plugin? or waiting on someone to contribute this?

[2022-10-18 05:17] ljharb commented on #2430
@rmarkins-godaddy it needs to be added to `resolve`, and i'm working on the reverse algorithm for `list-exports` first to serve as test fixtures.

Since it's a best practice to make packages backwards-compatible to pre-exports node, i'd hope this feature gap is minimally impactful in the meantime.

[2022-10-18 18:42] mosherc commented on #788
Ok so it really is between using `no-deprecated` and having long linting times, or removing that rule/webpack resolver to go back to shorter linting times? Those are my only choices and there's no way to improve performance?

[2022-10-18 18:46] ljharb commented on #788
Usually when a codebase is large enough to run into these problems, I suggest using jest and jest-runner-eslint to parallelize linting.

[2022-10-19 15:08] dmail opened #2575 "ESLint error when using allowUnsafeDynamicCyclicDependency"
Hello, I have the following error when configuring `"import/no-cycle"` rule:

[code]

My ESLint configuration:

[code]

ESLint version: 8.25.0
eslint-plugin-import version: 2.26.0

I suspect there is an issue in how schema is declared in [src/rules/no-cycle.js](https://github.com/import-js/eslint-plugin-import/blob/2e1edd6f3ab1787f037de05b2d7171f8410295db/src/rules/no-cycle.js#L37-L41)

Any idea w

[2022-10-19 15:12] ljharb commented on #2575
There’s no issue; that option isn’t released yet. On github (on every repo) you need to look at the docs for the appropriate tagged release, not on master/main.

[2022-10-19 15:24] dmail commented on #2575
My bad thank you

[2022-10-20 08:07] osdiab commented on #1793
So I'm bringing this back - i have a slightly different proposal. For my project I only really care about three groups - code in the current module, code from another project in my monorepo, and all other external code. I'm thinking this rule could be super fast for me if there were a flag or separate rule altogether, such that I could just decide the import group entirely via text pattern matchin

[2022-10-25 13:28] mkosir commented on #2553
Great stuff @ronparkdev, would love to have this rule 🙇‍♂️ 🚀

[2022-10-25 18:22] natterstefan commented on #1479
Hi @wcastand,

our workaround for this, until its solved, looks like this:

[code]

I hope this helps.

[2022-10-25 23:48] dannyfritz opened #2578 "import/no-restricted-paths does not work with TypeScript"
## What is Wrong?

`import/no-restricted-paths` does not work with TypeScript files.

## What Have I Debugged?

It appears to only resolve the path if it ends in `.js` and early returns from the rule otherwise because of `eslint-module-utils/resolve`.
I haven't looked too deep, but the bug appears to be coming from this psuedo stacktrace:
- https://github.com/import-js/eslint-plugin-import/blob/9e

[2022-10-26 00:05] dannyfritz commented on #2578
Fixed with https://github.com/import-js/eslint-import-resolver-typescript

[2022-10-26 00:05] #2578 closed

[2022-10-26 01:31] kamil-basebuild commented on #2539
Hi @lewxdev, sorry for the late reply. The included my whole config in my original post. I'm using version `^2.26.0`. Hope it works for you!

[2022-10-26 04:15] bradzacher commented on #2496
Fix: https://github.com/typescript-eslint/typescript-eslint/pull/5893

[2022-10-26 12:40] rdsedmundo commented on #2575
Is there a plan to release this? I don't understand why a feature merged 6 months ago isn't available for usage.

[2022-10-27 08:45] wcastand commented on #1479
yeah we went with a ignore next line on each line but it's not really a solution to me. thanks for sharing still :)

[2022-10-27 09:25] josemigallas commented on #2539
Any estimates on when will this be available? Any workaround config in the meantime?

[2022-10-27 09:47] pierreinglebert opened #2579 "When is scheduled the next release"
Hello,
There are some features that I'd really like to use in the main branch that are not yet released.
So my question is : when the next release is scheduled ? Do you need help for that ?

[2022-10-27 14:36] Knorgias opened #2580 "Package export map & self-referencing not possible"
## 1. Description

Hey there 👋

I want to be able to self-reference my package without lint errors while using packages `eslint` & `eslint-plugin-import`.

I have a repo tree:

[code]

with file contents…

`index.js` :

[code]

`foo-bar.js` :

[code]

`package.json` :

[code]

## 2. Expected behaviour

`npm run lint` runs without errors

## 3. Actual behaviour

`npm run lint` throws error:
`error

[2022-10-27 15:25] ljharb commented on #2539
No estimates or workaround.

[2022-10-27 15:44] ljharb commented on #2579
No releases are ever scheduled.

Duplicate of #2571. Duplicate of https://github.com/import-js/eslint-plugin-import/issues/2539. Duplicate of https://github.com/import-js/eslint-plugin-import/issues/2567.

[2022-10-27 15:44] #2579 closed

[2022-10-27 16:46] ljharb commented on #2580
This plugin uses `resolve`, which does not yet support `exports` - and thus, doesn't support self-referencing. When it does, so will we.

Duplicate of #2430.

[2022-10-27 16:46] #2580 closed

[2022-10-27 16:54] ashif25 opened #2581 "Jest encountered an unexpected token from vue 2 application"
![image](https://user-images.githubusercontent.com/40867499/198351867-587007ea-4017-4ed8-a707-927ebe5183dc.png)
I'm trying to update the node version from 12 to 16 and all node packages. I'm able to build successfully and clean up errors from
ESLint but while running jest most of the test failed due to that import underscore issue.

[2022-10-27 18:30] ljharb commented on #2581
This is jest failing, not eslint, so you'll need to file an issue on jest.

Either way, I'd suggest updating packages one at a time, and jumping from node 12 to 14 to 16, instead of trying to do it all at once.

[2022-10-27 18:30] #2581 closed

[2022-10-27 20:43] ashif25 commented on #2581
Could you please direct me any places where I can post?

[2022-10-27 21:21] ljharb commented on #2581
@ashif25 jest's repo is https://github.com/facebook/jest

[2022-10-28 11:27] JensDll commented on #2553
A useful rule, in my opinion. In addition, it would be nice if it also touches on ["`type` Modifiers on Import Names"](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-5.html#type-modifiers-on-import-names). For example, I would like to enforce `type` modifiers to be ordered last and then maybe sort both individually:
[code]

[2022-10-28 16:30] deathemperor commented on #1573
`eslint-import-resolver-typescript` solved this for me

[2022-10-29 07:09] dirkpostma commented on #1677
Not sure if it helps in this particular case, but I solved a similar issue by adding `"types":` property to the `package.json` of the dependency. Similar to the `"main"` prop, but for types.

Example:

`"types": "src/types.d.ts",`

https://stackoverflow.com/questions/66081171/lerna-yarn-and-typescript-cannot-find-module-or-its-corresponding-type-declar

[2022-10-30 17:13] saramorillon opened #2583 "import/no-named-as-default-member and reserved words"
When using `express.static`, I get the following warning:

[code]

As `static` is a reserved word in javascript, I cannot write `import { static } from "express"`.

What is the correct way to handle this?

Thank you.

typescript v4.8.4
eslint v8.26.0
eslint-plugin-import v2.26.0

[2022-10-30 20:18] ljharb commented on #2583
You could do `import { static as s } from 'express'` with any "s".

However, this rule is a lot less useful if your codebase is already on babel 6 or 7, so it'd also be fine to disable it.

[2022-10-31 08:58] arty-name commented on #2352
[Some people have seen better results](https://github.com/import-js/eslint-plugin-import/issues/2278#issuecomment-1189558486) using [eslint-import-resolver-typescript](https://github.com/import-js/eslint-import-resolver-typescript)

[2022-10-31 21:42] bradzacher commented on #2496
FYI - the fix has been released in [v5.42.0](https://github.com/typescript-eslint/typescript-eslint/releases/tag/v5.42.0) of the @typescript-eslint tooling.

So this issue can now be closed!

[2022-11-01 03:21] TomerAberbach commented on #2556
Yup, my fork does support both configs. The only thing I'm unsure about in my fork is how to adapt the [`keysFromParser`](https://github.com/import-js/eslint-plugin-import/blob/main/utils/parse.js#L26-L31) logic to work without knowing the paths.

But based on this [comment](https://github.com/import-js/eslint-plugin-import/blob/main/utils/parse.js#L36) though, it sounds like maybe it's fine for t

[2022-11-01 19:50] ljharb commented on #2556
As long as the rules and configs work in both config systems, we're good.

[2022-11-01 19:51] #2496 closed

[2022-11-02 04:17] ljharb commented on #2352
If you're using typescript, you should be using that resolver regardless.

[2022-11-02 20:11] kaiyoma opened #2585 "import/named error being incorrectly thrown for victory imports"
Valid code (type checking passes and code works at runtime):

[code]

Errors from eslint:

[code]

eslint: 8.26.0
eslint-plugin-import: 2.26.0
victory: 36.6.8

[2022-11-02 21:09] ljharb commented on #2585
Looking at https://unpkg.com/browse/victory@36.6.8/package.json, the "module" and "jsnext:main" fields point to https://unpkg.com/browse/victory@36.6.8/es/index.js, so it should be picking up the re-exports from all those other packages.

Simmilarly, https://unpkg.com/browse/victory-area@36.6.8/package.json points to https://unpkg.com/browse/victory-area@36.6.8/es/index.js which points to https://

[2022-11-04 15:16] Nfinished opened #2586 "Typescript Docs Question"
The following bit is unclear to me.

[code]

Does "You may use the following shortcut" and "the following lines do the trick" indicate that `plugin:import/typescript` should preclude any other configuration? Or do I still need to add the configuration outlined in https://github.com/import-js/eslint-import-resolver-typescript#configuration

Thank you!

[2022-11-04 16:06] ebbishop opened #2587 "`import/no-cycle` not throwing errors"
I'm trying to add this plugin only for the `import/no-cycle` rule and running into problems configuring it.
Versions:
| package | version |
| ----- | ----- |
| **eslint** | 8.18.0|
| **eslint-plugin-import** | 2.26.0|
| **eslint-config-prettier** | 8.5.0|
| **eslint-plugin-prettier** | 4.1.0|
| **eslint-plugin-react** | 7.30.1|

`src/utils/index.ts`:
[code]

`src/consts/index.ts`:
[code]

My `.esl

[2022-11-04 16:17] ljharb commented on #2586
it says lines, plural, so you'd need all of them.

[2022-11-04 16:24] Nfinished commented on #2586
Including configuring the resolver or are there defaults?

[code]

[2022-11-04 16:26] Nfinished commented on #2586
I understand that I need it but is the ootb configuration enough or do I need to follow the configuration steps listed here? https://github.com/import-js/eslint-import-resolver-typescript#configuration

[2022-11-04 16:27] ljharb commented on #2586
You need to follow all the steps listed there - that's why they're listed.

[2022-11-04 16:30] Nfinished commented on #2586
Can you see how I found `You may use the following shortcut or assemble your own config using the granular settings described below.` unclear given the rest of the section? What _is_ the following shortcut? As I'm reading it I only see a guide to assembling my own config.

[2022-11-04 16:34] ljharb commented on #2586
Indeed I can; happy to review a PR that makes it more clear.

To clarify, "all those lines" are the shortcut - the granular settings are the other sections of the document.

[2022-11-04 16:35] Nfinished commented on #2586
Ah understood, thank you. It also threw me that `eslint-import-resolver-typescript`'s config example uses the bare `import` plugin rather that `import/recommended` so it's unclear if any of that comes with `/recommended`

[2022-11-04 16:39] ljharb commented on #2587
I agree it should be erroring, and this is a bug.

[2022-11-04 19:46] #2583 closed

[2022-11-05 04:15] gao-sun commented on #2170
@JounQin would you like to elaborate how to resolve this via `eslint-import-resolver-typescript`?

[2022-11-05 07:18] saengmotmi commented on #2164
in my case, it works for me

[code]

[code]

[2022-11-07 14:35] ebbishop commented on #2587
@ljharb I eventually added `'plugin:import/typescript'` to the `extends` list in my config file and that solved the problem. I'd thought that having the `parser` and `parserOptions` I do, that wouldn't be necessary, but it seems it is.

If that's expected, I'll close this issue.

[2022-11-07 17:22] ljharb commented on #2587
I'm not sure what else that configures, but if it's necessary, our docs should indicate it.

It'd be nice to try to figure out what config differences were needed.

[2022-11-08 17:33] azyzz228 commented on #2587
`README.md` already includes instructions (under Typescript heading) on necessity of adding `plugin:import/typescript` to `extends` if the plugin were to be used with typescript.

I created simple node project to mimic the error.

My folder structure:

- src
   - consts
      - index.js
      - index.ts
   - utils
      - index,js
      - index.ts

###### src/**consts**/:
index.js: `import * as ut

[2022-11-10 00:28] lunatupini opened #2591 "Is it possible to assing a pattern for both the root folder and it's subpaths?"
What I'm trying to achieve is a pattern that will match a default exported module or any submodule.

Eg: `next` or `next/link` will be matched

[2022-11-10 02:13] ljharb commented on #2591
Globbing only allows `next` and `next/**` - there's no pattern that could match both, afaik.

[2022-11-10 15:04] lunatupini commented on #2591
I thought so.

Yeah... regex would be so much better. Appreciate your help :)

[2022-11-11 03:06] ljharb commented on #2580
@toFrankie no, it's not supported yet.

Since packages *should* be using `exports` in a backwards-compatible way, this shouldn't be an obstacle, but if packages deviate from this best practice, it'll be annoying until `resolve` adds this support.

[2022-11-11 11:35] vkrol commented on #1407
It was fixed in https://github.com/import-js/eslint-plugin-import/pull/2330/.

[2022-11-11 11:35] #1407 closed

[2022-11-12 14:43] snewcomer opened #2594 "eslint 8 throwing error in CI"
[71](https://github.com/import-js/eslint-plugin-import/actions/runs/3449533983/jobs/5757534657#step:5:72)

See https://github.com/import-js/eslint-plugin-import/actions/runs/3449533983/jobs/5757534657#step:5:66

Happened within the last 4 days.  Last versioned release of eslint was 8 days ago.  Node also release 8 days ago.

[2022-11-13 03:21] ljharb commented on #2594
npm 9 was promoted to "latest" in that timeframe.

I won't be able to properly investigate until next week.

[2022-11-14 06:25] alshdavid opened #2596 "Is the current main branch in sync with the package in npm?"
I am looking to use a feature documented in the repo, specifically the `includeTypes` option under the [no-extraneous-dependencies](https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-extraneous-dependencies.md) rule.

When implementing the option, I got a schema validation error on the `no-extraneous-dependencies` plugin's options.

Upon further inspection, the [code from th

[2022-11-14 06:53] saengmotmi commented on #2164
maybe this is more proper way to sort external deps

[code]
thx @dlindenkreuz :)

[2022-11-14 14:03] ljharb commented on #2596
Like most github repos, the default branch indeed often contains unreleased things.

Anything not published isn't consumable yet. This repo happens to track unreleased items here: https://github.com/import-js/eslint-plugin-import/blob/main/CHANGELOG.md#unreleased

[2022-11-14 14:03] #2596 closed

[2022-11-14 18:00] Riyadevvarshney11 commented on #1869
I would like to work on this issue

[2022-11-15 03:00] snitin315 commented on #2181
@ljharb I can reproduce it with the following code as per `eslint-plugin-import@2.26.0`:

[code]

If I remove the `module.hot` condition there is no error, the following code is lint free.

[code]

[2022-11-15 06:04] alshdavid commented on #2596
Got ya, is there a release schedule documented anywhere?

[2022-11-15 07:19] roryabraham opened #2597 "no-unused-modules – check all platform-specific module index files"
I am trying to enable no-unused-modules in a React Native project, where we have several platform-specific module index files:

- index.js (default)
- index.ios.js
- index.android.js
- index.website.js
- index.desktop.js

The rule works fine for `index.js`, but not modules with multiple platform-specific index files.

[2022-11-15 13:31] ljharb commented on #2596
No, there's no schedule for releases, and automatic deployments would create a scenario where maintainers aren't around to handle bug reports, so that would be unwise :-)

[2022-11-15 13:42] #2597 closed

[2022-11-16 06:41] theahura commented on #1886
apologies for reviving a dead thread, but was this ever resolved @NullVoxPopuli ? how did you debug?

[2022-11-16 06:49] ljharb commented on #1886
Closing, but happy to keep discussing here.

[2022-11-16 06:49] #1886 closed

[2022-11-16 15:54] daKmoR commented on #2580
I'm curious why is it using a custom-coded resolver when you could use the "built in" resolver from `node`?
e.g. why use the `resolve` package and not `require.resolve(source);`?

does eslint always run via node?

[2022-11-16 18:12] azyzz228 commented on #2572
My attempted solution: https://github.com/azyzz228/eslint-plugin-import/tree/import-namespace/fix-export-all-from-jsx

[2022-11-16 20:12] #2587 closed

[2022-11-16 20:24] #2594 closed

[2022-11-16 21:58] ljharb commented on #2580
node's built-in resolver can't consistently be used in the way we need it; and regardless, having this plugin behave unpredictably across different node versions would be undesirable.

[2022-11-16 22:11] Titi-layo opened #2599 "import/no-extraneous-dependencies error when array of globs is used"
I have the following code in my .eslintrc.json file and i get an error when i run eslint

[code]

Not sure why this is happening, reading through the readme i expected otherwise [https://github.com/import-js/eslint-plugin-import/blob/8b0fb989ae08161499a478ab23fb10b68e3cd828/docs/rules/no-extraneous-dependencies.md?plain=1#L34](https://github.com/import-js/eslint-plugin-import/blob/8b0fb989ae081614

[2022-11-16 22:40] ljharb commented on #2599
In what file do you get the error?

[2022-11-16 22:41] Titi-layo commented on #2599
In an `index.test.tsx` file

[2022-11-16 22:54] ljharb commented on #2599
That file doesn't match your glob, which only checks for `.ts` files, not `.tsx` files.

[2022-11-17 10:07] Titi-layo commented on #2599
Oh I see!  For some reason, I had assumed it'd treat `.ts `and `.tsx` files the same :weary: . I changed the glob to the code below :point_down: and i no longer see the error anymore, Thank you

[code]

[2022-11-17 17:05] imhoffd opened #2600 "Allow `prefer-default-export` to report for files without default exports"
I noticed that the [prefer-default-export](https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/prefer-default-export.md) rule only triggers when there is a single named export in a file. I would like for it to trigger for any file that doesn't have a default export: whether it has multiple named exports, a single named export, or no exports at all (but each of these could be con

[2022-11-17 17:25] lgenzelis commented on #1548
For anyone arriving here in 2022, [`warnOnUnassignedImports`](https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md#warnonunassignedimports-truefalse) may be what you need: it won't autofix, but it'll warn you, and that's what I wanted.

[2022-11-17 17:25] lgenzelis commented on #1634
For anyone arriving here in 2022, [`warnOnUnassignedImports`](https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md#warnonunassignedimports-truefalse) may be what you need: it won't autofix, but it'll warn you, and that's what I wanted.

[2022-11-17 17:29] #1548 closed

[2022-11-17 17:33] ljharb commented on #2600
The default is built assuming that a file with multiple named exports is a bag of things - reducers, constants, etc. It certainly seems reasonable to add an option that would warn on any file missing a default export, though.

[2022-11-17 17:43] imhoffd commented on #2600
Thanks for that confirmation!

To elaborate on why this might be useful, in our codebase React components are default exports and their prop interfaces are named exports. It's easy enough to miss adding the `default` keyword to the component function, and this rule currently doesn't help with that.

In our particular case, our files are named the same as their default export (via [canonical/filena

[2022-11-17 19:24] #2599 closed

[2022-11-17 19:37] ljharb commented on #1996
Fixed in #2598.

[2022-11-17 19:37] #1996 closed

[2022-11-17 19:43] ljharb commented on #1869
Go for it!

[2022-11-20 09:08] ganyanchuan1989 commented on #2365
i try :
   eslint-plugin-import@2.23.4 is ok
   eslint-plugin-import@2.25.4 is fail

so i use eslint-plugin-import@2.23.4

[2022-11-21 03:11] kadinwu opened #2601 "Merge duplicate import cause parsing error"
Below is my test code:
`import {
  DEFAULT_FILTER_KEYS,
  BULK_DISABLED
} from '../constants';
import React from 'react';
import {
  BULK_ACTIONS_ENABLED
} from '../constants';

const TestComponent = () => {
  return <>
  </>;
}

export default TestComponent;
`
Then run npx eslint to fix this file, then see below error:
 5:2  error  Parsing error: Unexpected token, expected "," (5:2)
Missing comma

[2022-11-21 03:47] ljharb commented on #2601
When you run eslint without autofixing, what exact warning do you get?

[2022-11-21 03:49] ljharb commented on #2365
@ganyanchuan1989 and 2.26.0 also fails? what's your eslint config?

[2022-11-22 03:25] kadinwu commented on #2601
See below errors:
[code]
import/no-duplicates autofix cause this issue

[2022-11-22 15:07] djmisterjon commented on #2573
same issue !

[2022-11-23 05:53] fregante commented on #1758
I'm experiencing slow performance for this rule as well. You can see the configuration in:

https://github.com/pixiebrix/pixiebrix-extension/blob/2604923b0f29c63bae5e1fbd690db4e33bd4b23c/.eslintrc.js#L15-L16

In short, I don't want files in `/A` to import from `/B` and vice versa, for 5 such folders, but this rule appears to be taking a long time just for that:

[code]

[2022-11-24 00:58] ljharb commented on #1758
Indeed, if you maximally enable the useful import rules, you may find another rule is the 30s one.

[2022-11-24 15:14] Brageanth commented on #1844
Same here on neovim, could you solve it?

[2022-11-24 22:56] duncanbeevers commented on #2553
Such a rule would also help with find+replace across a codebase since each import of items would assume a canonical form.
When fixing or moving stuff around, it would be easier to trust that all imports will be in canonical form.

[code]

[2022-11-25 06:58] ljharb commented on #2601
I'm able to reproduce it easily, thanks. I'll see what I can do.

[2022-11-25 07:09] ljharb commented on #2601
hm, actually i'm unable to reproduce this in eslint 7 or 8, and nothing's been changed about this rule since v2.26.0 was released.

Can you share your full eslint config?

[2022-11-25 07:10] ljharb commented on #2601
(note, that your OP imports from `../constants` but your error message says `***\constants.js` - are you on windows or something? where do the triple asterisks come from, or the backslash?

[2022-11-25 10:09] remcohaszing opened #2603 "`node:test` is not considered a builtin module by `import/order`"
When using the `import/order` rule, I expect the module `node:test` to be treated as a builtin module, but it’s treated as an external module instead.

I tried to see if this is an issue in `is-core-module`, but it returns the correct result.

[code]

[2022-11-25 13:45] mvorisek commented on #799
I confirm `import/extensions` rule does not work in vue files.

[2022-11-26 05:53] ljharb commented on #2603
Absolutely the node version determines whether it's a core module.

The proper solution is to configure vscode to use the node version you want, instead of its builtin one.

In older versions of node, `node:`-prefixed modules aren't always core modules - they could come from the filesystem - and also, webpack or typescript could still provide them.

[2022-11-26 06:16] ljharb commented on #799
Seems like https://github.com/import-js/eslint-plugin-import/issues/799#issuecomment-343408306 and eslint-import-resolver-webpack are the solutions here.

[2022-11-26 06:16] #799 closed

[2022-11-26 17:06] azyzz228 commented on #2585
I was not able to reproduce the `import/name` error on my end. Error is not flagged when I turn on `import/named`.

[code]

 The repo of the project is [here](https://github.com/azyzz228/sandbox-eslint-import/tree/replicate-victory-import-error).

[2022-11-28 08:48] sergioadimedia opened #2604 "import/no-unresolved false positive with locally installed npm package"
Hello guys!

I have a package installed from a file instead of installing it from npm's registry.
This is how the relevant part of the `package.json` looks:
[code]
However, I'm getting an `import/no-unresolved` when I use it.
Here's how I import the package:
`import ExcelJS from "exceljs";`

When I check the `node_modules` directory I can see that `exceljs` is a symbolic link which points to `pre-

[2022-11-28 22:03] ljharb commented on #2585
@kaiyoma can you please provide your eslint config? Since we're unable to reproduce this, I'll close this for now, but am happy to reopen once we get more info.

[2022-11-28 22:03] #2585 closed

[2022-11-29 03:35] #2572 closed

[2022-11-29 03:50] ljharb commented on #2604
This is because we use resolve v1, which defaults the `preserveSymlinks` option to `true`, matching node versions at the time v1 was released. v2 will default it to `false`, matching modern node versions.

If you add `"preserveSymlinks": false` inside the `node` object in your config, does that fix it?

[2022-11-29 08:04] roryabraham commented on #2597
Thanks for the tip @ljharb. Looks like there exists such a resolver, but it might not be actively maintained https://github.com/LeadingLight/eslint-import-resolver-react-native

[2022-11-29 19:47] kaiyoma commented on #2585
@ljharb <details><summary>Here's the eslint config:</summary>

[code]

</details>

[2022-11-29 19:58] ljharb commented on #2585
@kaiyoma ok, you're definitely missing the `import/extensions` setting, as well as the typescript resolver, both of which are necessary if you're using TS.

[2022-11-29 20:38] kaiyoma commented on #2585
@ljharb This isn't a TS file. We're seeing this linting error in a JSX file.

[2022-11-29 20:39] ljharb commented on #2585
ok, you still need the `import/extensions` setting to include `.jsx` tho, and you definitely still need the TS resolver.

[2022-11-29 22:53] manfrinmm commented on #1479
## This was my temporary solution:

[code]

[2022-11-30 12:37] jkesseler commented on #2573
Adding `"pathGroupsExcludedImportTypes": ["type"]` seems to do the trick.

[code]

[2022-11-30 12:54] ljharb commented on #2573
@Visual-Dawg does this solve your issue?

[2022-11-30 16:21] SaadAhmadSaddiqui opened #2606 "import/no-unresolved for css files from a node_module"
When I try to import a css file from a package (typescript), eslint gives me an import/no-unresolved error.

![image](https://user-images.githubusercontent.com/27802188/204851544-c7871e97-68a5-4f24-9b6b-e2c31de6f46f.png)

`.eslintrc`:
[code]

`tsconfig.json`
[code]

[2022-11-30 18:04] ljharb commented on #2606
That's because you can't import CSS, with or without TypeScript.

If you're using webpack or another bundler that allows this, then you need to have a specific import resolver configured that understands that.

[2022-11-30 18:04] #2606 closed

[2022-11-30 22:01] gnprice opened #2607 "no-cycle should accept Flow "typeof" imports, just like "type""
This is an extension of #1098 / #1343. In addition to `import type`, Flow has a syntax `import typeof`. For example ([try-flow link](https://flow.org/try/#0JYWwDg9gTgLgBDAnmAphAZnA3nArgZxQFF10UBjeAXznSghDgHIoUBDSpgbgCgeA3NlFoAuPIRJlKXOAHpZcABZt8CRSjj42IDUlRwVcAErtKAOgLFSFGDyA)):
[code]

Like with `import type`, these imports are transpiled away and have no effect at runtime, so they should be give